<section class="wrapper about-wrapper">
  <div class="container">
    <div class="about">
      <h1 class="about__title">?סמארט– מה עושים פה בעצם</h1>
      <ul class="about-cards">
        <li class="about-card">
          <img
            class="about-card__img"
            src="./img/about/about_1.webp"
            alt="about1"
          />
          <h4 class="about-card__title">לנהל את המזל שלך. בקלות.</h4>
          <p class="about-card__description">
            סמארט מבצעת עבור לקוחותיה מילוי ושליחה של משחקי הווינר והטוטו, על
            ידי כלים סטטיסטיים ויועצי ספורט. גם אם מעולם לא שלחת טוטו וגם אם את
            אלופת ווינר, אנחנו כאן כדי להביא את המזל שלכם לשיאים חדשים!
          </p>
        </li>
        <li class="about-card">
          <img
            class="about-card__img"
            src="./img/about/about_2.webp"
            alt="about2"
          />
          <h4 class="about-card__title">לנהל את המזל שלך. בקלות.</h4>
          <p class="about-card__description">
            סמארט מבצעת עבור לקוחותיה מילוי ושליחה של משחקי הווינר והטוטו, על
            ידי כלים סטטיסטיים ויועצי ספורט. גם אם מעולם לא שלחת טוטו וגם אם את
            אלופת ווינר, אנחנו כאן כדי להביא את המזל שלכם לשיאים חדשים!
          </p>
        </li>
        <li class="about-card">
          <img
            class="about-card__img"
            src="./img/about/about_3.webp"
            alt="about3"
          />
          <h4 class="about-card__title">לנהל את המזל שלך. בקלות.</h4>
          <p class="about-card__description">
            סמארט מבצעת עבור לקוחותיה מילוי ושליחה של משחקי הווינר והטוטו, על
            ידי כלים סטטיסטיים ויועצי ספורט. גם אם מעולם לא שלחת טוטו וגם אם את
            אלופת ווינר, אנחנו כאן כדי להביא את המזל שלכם לשיאים חדשים!
          </p>
        </li>
      </ul>
    </div>
    <div class="about-mobile">
      <h1 class="about-mobile__title about__title">?סמארט– מה עושים פה בעצם</h1>
      <ul class="about-mobile-cards">
        <li class="about-mobile-card">
          <img
            class="about-mobile-card__img"
            src="./img/about/about_1.webp"
            alt="about1"
            width="60"
            height="60"
          />
          <div class="about-card-info">
            <h4 class="about-card__title">להתחיל לשחק חכם</h4>
            <p class="about-card__description">
              סמארט מבצעת עבור לקוחותיה מילוי ושליחה של משחקי הווינר והטוטו, על
              ידי כלים סטטיסטיים ויועצי ספורט. גם אם מעולם לא שלחת טוטו וגם אם
              את אלופת ווינר, אנחנו כאן כדי להביא את המזל שלכם לשיאים חדשים!
            </p>
          </div>
        </li>
        <li class="about-mobile-card">
          <img
            class="about-mobile-card__img"
            src="./img/about/about_2.webp"
            alt="about2"
            width="60"
            height="60"
          />
          <div class="about-card-info">
            <h4 class="about-card__title">כשמזל ושכל נפגשים</h4>
            <p class="about-card__description">
              סמארט מבצעת עבור לקוחותיה מילוי ושליחה של משחקי הווינר והטוטו, על
              ידי כלים סטטיסטיים ויועצי ספורט. גם אם מעולם לא שלחת טוטו וגם אם
              את אלופת ווינר, אנחנו כאן כדי להביא את המזל שלכם לשיאים חדשים!
            </p>
          </div>
        </li>
        <li class="about-mobile-card">
          <img
            class="about-mobile-card__img"
            src="./img/about/about_3.webp"
            alt="about3"
            width="60"
            height="60"
          />
          <div class="about-card-info">
            <h4 class="about-card__title">לנהל את המזל שלך. בקלות</h4>
            <p class="about-card__description">
              סמארט מבצעת עבור לקוחותיה מילוי ושליחה של משחקי הווינר והטוטו, על
              ידי כלים סטטיסטיים ויועצי ספורט. גם אם מעולם לא שלחת טוטו וגם אם
              את אלופת ווינר, אנחנו כאן כדי להביא את המזל שלכם לשיאים חדשים!
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
