<div class="wrapper">
  <div class="results-wrapper">
    <div class="container">
      <div class="results">
        <div class="results-info">
          <h1 class="results__title title">תוצאות ווינר בזמן אמת</h1>
          <p class="results__description">
            לוח תוצאות משחקי ווינר בזמן אמת במגוון פילוחים וצפייה נוחה
          </p>
        </div>
        @include('../../register-form.html')
      </div>
    </div>
  </div>
  <div class="container">
    <h4 class="results-news">
      חדש בסמארט! הצגת יחסי המשחקים בתוך טבלת ווינר של המחזור הקרוב.
      <a class="results-news__link" href="#">לחץ לצפייה</a>
    </h4>
  </div>
  @include('../../winners-reatiltime-table.html') @include('./about.html')
  @include('./winners-accordions.html') @include('../../winners-slider.html')
  @include('../../join-us-form.html')
</div>
