.about-mobile {
    display: none;


    &-card {
        display: flex;
        flex-direction: row-reverse;
    }

    &-card__img {
        max-width: 60px;
        max-height: 60px;
        margin-top: 40px;
    }
}

.about {
    margin-top: 30px;
    padding-bottom: 20px;

    &__title {
        font-weight: 600;
        color: #333;
        text-align: center;
        font-size: 40px;
    }

    &-card {
        max-width: 400px;
        text-align: center;

    }

    &-card__title {
        margin-top: 20px;
        font-size: 1.75rem;
    }

    &-card__description {
        margin-top: 20px;
        color: #333;
        font-size: 16px;
        line-height: 1.2;
        max-width: 390px;
    }

    &-card__img {
        max-width: 250px;
        height: 250px;
    }

    &-cards {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 80px;
    }
}


@media (max-width: 820px) {
    .about-cards {
        flex-direction: column;
        align-items: center;
    }

    .about__title {
        font-size: 3em;
    }
}

@media (max-width: 580px) {
    .about__title {
        font-size: 2.5em;
    }
}

@media (max-width: 500px) {
    .about__title {
        font-size: 1.8em;
    }

    .about-card__description {
        font-size: 17px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .about {
        display: none;
    }

    .about-mobile {
        display: block;
        padding: 10px;
    }

    .about-card__title {
        font-size: 23px;
        text-align: right;
    }

    .about-card__description {
        text-align: right;
        line-height: 24px;
    }

    .about-card-info {
        padding: 10px;
    }

    .about-card__description {
        padding: 0;
    }

    .about__title {
        font-size: 1.5em;
    }

}