.content__button {
    background: #98c80d;
    border: 2px solid #98c80d;
    color: #000;
    width: 100%;
    text-align: center;
    padding: 12px;
    border-radius: 4px;
    font-weight: 600;
    max-width: 200px;
    margin-left: auto;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
        background: #fff;
        color: #98c80d;
    }
}


@media(max-width: 840px) {
    .content__button {
        max-width: none;
    }
}