.footer-mobile-accordions {
    padding-bottom: 120px;
}

.footer-mobile-accordion-item-btn {
    color: #444;
    cursor: pointer;
    outline: none;
    padding: 18px;
    width: 100%;
    text-align: right;
    font-size: 20px;
    transition: 0.4s;
    border-top: 1px solid gray;
}

.footer-mobile-accordions {
    padding-bottom: 0;
}

.footer-mobile-accordion-item:nth-last-child(-n + 1) {
    border-bottom: 1px solid gray;
}

.footer-mobile-accordion-item-btn::before {
    content: '';
    background-image: url('../img/footer/accordion-arrow.png');
    background-size: 50%;
    position: absolute;
    left: 0px;
    margin-left: 20px;
    margin-top: 5px;
    opacity: 0.3;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    text-align: left;
    height: 20px;
    transition: transform .3s;
}

.footer-mobile-active {
    background: rgb(152, 200, 13);
}

.footer-mobile-active::before {
    content: "";
    transform: rotate(270deg);
    opacity: 1;
}



.footer-mobile-accordion-item-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    max-width: 1300px;
    margin-left: auto;
    text-align: right;
    background-color: #fff;

    &__text {
        padding-bottom: 20px;
        line-height: 20px;
    }
}

.footer-mobile-accordion-item-panel-link-wrapper {
    border-top: 1px solid #b7b7b7;
    padding: 15px;
}

.footer-mobile-accordion-item-panel__link {
    color: #535353;
    font-size: 16px;
    font-weight: 700;
}