.footer {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: right;
    font-size: 18px;

    &-wrapper {
        width: 100%;
        max-width: 2000px;
        margin: 0px auto;
        padding-top: 50px;
        background-color: #ededed;
        padding-bottom: 20px;
    }

    &-links {
        margin-left: 180px;
    }

    &-links__title {
        margin-bottom: 20px;
        color: #535353;
        font-weight: 500;

    }

    &-links__link {
        margin-bottom: 20px;
        color: #535353;
        font-size: 16px;
        font-weight: 400;

        &:hover {
            color: black;
        }
    }

    &-logo {
        margin-left: 200px;
    }

    &-logo__link {
        max-width: 200px;
    }

    &-links-socials {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 35px;
    }

    &-horizontal {
        max-width: 1140px;
        height: 1px;
        background: rgb(187, 187, 187);
        margin: 0px auto;
    }

    &-widgets-images {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &-widgets-rights {
        text-align: center;
        margin-top: 10px;
        max-width: 100%;

        &__highlight {
            color: rgb(190, 190, 190);
            font-size: 10px;


        }

        &-link {
            color: rgb(87, 87, 87);
            font-family: 'Times New Roman', Times, serif;
            font-size: 16px;

            &:hover {
                color: black;
            }
        }
    }

    &-widgets-rights--gray {
        color: #b3b3b3;
        font-size: 12px;
    }

}

.footer-mobile-logo {
    text-align: center;
}

.footer-mobile-logo__img {
    max-width: 80px;
    margin-bottom: 20px;
}

.footer-mobile {
    display: none;
}

.link-highlight {
    font-family: 'Times New Roman', Times, serif;
}

.link {
    display: block;
}

.footer-mobile-socials {
    display: none;
}

.footer-widgets-mobile {
    display: none;
}


@media(max-width: 1430px) {
    .footer-links {
        margin: 0;
    }

    .footer {
        justify-content: space-evenly;
    }
}

@media (max-width: 820px) {
    .footer {
        flex-wrap: wrap;
    }
}

@media (max-width: 675px) {
    .footer-widgets-images {
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .footer-widgets-rights {
        padding-top: 10px;
    }


}

@media (max-width: 480px) {
    .footer-widgets-rights {
        max-width: 350px;
        margin: 0px auto;
    }


}

@media (max-width: 450px) {

    .footer,
    .footer-widgets {
        display: none;
    }

    .footer-mobile,
    .footer-widgets {
        display: block;
    }

    .footer-wrapper {
        padding-top: 20px;
    }

    .footer-mobile-socials {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 30px;
    }

    .footer-widgets {
        display: none;
    }

    .footer-widgets-rights-link {
        font-size: 12px;
    }

    .footer-widgets-rights {
        max-width: 300px;
        padding: 10px;
    }

    .footer-widgets-mobile {
        display: block;
    }

}