.header {
    padding: 30px 10px 30px 10px;

    &-wrapper {
        position: sticky;
        top: 0;
        z-index: 99;
        background-color: white;
    }

    &-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        flex-wrap: wrap;

        &-menu {
            display: flex;
            align-items: center;
        }

        &-columns-deal-section {
            padding-bottom: 100px;
        }
    }

    &-navigation-buttons {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &-navigation-item__button-join {
        color: #fff;
        font-size: 17px;
        font-weight: 600;
        background-color: #55a3ce;
        border: 2px solid #55a3ce;
        padding: 6px 12px;
        border-radius: 5px;
        transition-property: background, color;
        transition-duration: 0.3s;
    }

    &-navigation-item__button-join:hover {
        background-color: white;
        color: #55a3ce;
    }

    &-navigation-item__button-customers {
        font-size: 20px;
        color: #55a3ce;
        font-weight: 600;
        cursor: pointer;
    }

    &-navigation-item-dropdown {
        display: none;
    }

    &-navigation-item-dropdown,
    &-navigation-item-dropdown-mobile {
        width: 100%;
        position: absolute;
        left: 0;
        z-index: -1;
    }

    &-navigation-item-dropdown-mobile {
        visibility: hidden;
        opacity: 0;
        transition: opacity .6s ease-out;
    }

    &-dropdown-content-wrapper {
        padding-top: 50 !important;
    }

    &-navigation-item-dropdown-content {
        background-color: white;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.15);
        text-align: right;
    }

    &-navigation-item-dropdown-content-list {
        padding-bottom: 50px;
    }

    &-dropdown-content-list-wrapper-columns-info-item {
        margin-bottom: 15px;
        padding-left: 100px;
        cursor: pointer;
    }

    &-dropdown-content-list-wrapper-info-item__link {
        color: black;
        font-size: 16px;
    }

    &-dropdown-content-list-wrapper-info-item__link:hover {
        color: #98c80d;
    }

    &-dropdown-content-list-wrapper-columns-deal-games__img {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &-dropdown-content-list-wrapper-columns-info__title {
        color: black;
        font-size: 16px;
        font-weight: 900;
        margin-bottom: 15px;
    }

    &-navigation-item-dropdown-items-content {
        margin-top: 20px;
        margin-right: 30px;
    }

    &-dropdown-content-list-wrapper-columns {
        gap: 10px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;

        &-info-results-items {
            margin-top: 30px;
        }

        &-info-results-item {
            display: flex;
            align-items: center;
            justify-content: space-between;


            &:nth-child(even) {
                background-color: #F6FAFD;
            }

            &__index {
                background-color: #a1c831;
                padding: 15px 5px 20px 5px;
            }

            &__score {
                color: #a1c831;
            }

            &__status-point {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #98c80d;
                margin-left: 10px;
            }
        }


        &-info-winnerLine {
            max-width: 570px;
            margin-left: auto;
            margin-top: 20px;

            &__title {
                color: #55a3ce;

            }

            &-head {
                display: flex;
                font-size: 14px;
                align-items: center;
                justify-content: flex-end;
                gap: 10px;
                border: 1px solid rgb(85 163 206 / 50%);
                padding: 5px;
            }

            &-body-item {
                display: flex;
                justify-content: space-between;
                padding: 5px;

                &:nth-child(even) {
                    background: #F6FAFD;
                }

                &__yellow-point {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    background: orange;
                    border-radius: 50%;
                }
            }
        }

        &-info-results-cards {
            display: flex;
            justify-content: flex-end;
            margin: 30px 0 30px 0;
        }

        &-info-results-card {

            position: relative;
        }

        &-info-results-card-num {
            position: absolute;
            top: 70%;
            left: 35px;
        }
    }

    &-dropdown-content-list-wrapper-columns-timer__img {
        max-width: 400px;
    }

    &-dropdown-content-list-wrapper {
        max-width: 1250px;
        padding: 0 10px 0 10px;
    }

    &-dropdown-content-list-wrapper-columns-info__img {
        width: 100%;
        max-width: 450px;
    }

    &-dropdown-content-list-wrapper-columns-info__btn {
        background: #98c80d;
        border: 2px solid #98c80d;
        color: #000;
        width: 100%;
        text-align: center;
        padding: 12px;
        border-radius: 4px;
        font-weight: 600;
        max-width: 200px;
        margin-left: auto;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
    }

    &-dropdown-content-list-wrapper-info-item {
        margin-bottom: 0;
    }

    &-dropdown-content-list-wrapper-columns-info__btn:hover {
        background: #fff;
        color: #98c80d;
    }

    &-dropdown-content-list-wrapper__title {
        display: none;
        position: absolute;
        top: 0;
        left: -2px;
        z-index: 1;
        height: 40px;
        width: 100%;
        background-color: rgb(193, 192, 192);
    }

    &-dropdown-content-list-wrapper-columns__text {
        max-width: 350px;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    &-dropdown-content-list-wrapper-columns-link-wrapper {
        text-align: right;
    }

    &-dropdown-content-list-wrapper-columns__link {
        margin-top: 10px;
        color: #98c80d;
    }

    &-dropdown-content-wrapper-image__img {
        max-width: 350px;
    }

    &-dropdown-content-list-wrapper-columns-winners-images-info__img {
        max-width: 165px;
        margin-bottom: 20px;
    }

    &-dropdown-content-list-wrapper-columns-winners-images-info {
        text-align: center;
        margin-top: 10px;
    }

    &-dropdown-content-list-wrapper-columns-winners-images-info__price {
        margin-top: 5px;
        font-weight: 500;
    }

    &-dropdown-content-list-wrapper-columns-winners-images {
        display: flex;
        justify-content: center;
    }

    &-dropdown-content-list-wrapper-columns-winners__btn {
        text-align: center;
        margin: 20px auto;
        max-width: 300px;
    }

    &-dropdown-content-list-wrapper-info {
        margin-top: 50px;
    }

    &-dropdown-content-list-wrapper-columns-timer {
        display: flex;
        flex-direction: column;
    }

    &-navigation-item-dropdown-items-content-columns__title {
        font-size: 25px;
        font-weight: 500;
    }

    &-dropdown-content-list-wrapper-columns-timer__img {
        margin-bottom: 10px;
    }

    &-dropdown-content-list-wrapper-columns {
        display: flex;
        gap: 10px;
    }

    &-dropdown-content-list-wrapper-columns-deal-games__title {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    &-dropdown-content-list-wrapper-columns-deal-games {
        background: #f6fafd;
        padding: 20px 40px;
        text-align: center;
    }

    &-navigation-item-subscription {
        margin-top: 50px;
        gap: 50px;
    }

    &-dropdown-content-wrapper-subscription-box__description {
        max-width: 350px;
        margin-right: auto;
    }

    &-dropdown-content-wrapper-subscription-box {
        max-width: 500px;
        background: #f6fafd;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
    }

    &-dropdown-content-wrapper-subscription-box__img {
        margin-top: 20px;
    }

    &-dropdown-content-wrapper-subscription-box__title {
        text-align: right;
        font-weight: 700;
        font-size: 25px;
        padding: 10px;
    }

    &-dropdown-content-wrapper-subscription-description {
        max-width: 300px;
    }

    &-dropdown-content-wrapper-subscription {
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }

    &-navigation-item-dropdown-items-content-columns-deal {
        gap: 50px;
        display: flex;
    }

    &-dropdown-content-list-wrapper-columns-deal-winners__btn {
        margin: 0 auto;
    }

    &-dropdown-content-list-wrapper-columns-deal {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &-navigation-items {
        font-size: 17px;
        display: flex;
    }

    &-navigation-item__link {
        padding: 10px;
        color: black;
    }

    .header-navigation-item-dropdown-items-content-columns-deal {
        position: relative;
    }

    .header-navigation-item-dropdown-items-content-columns-deal-item {
        margin-bottom: 0;
    }

    .header-navigation-item-dropdown-items-content-columns-deal {
        max-width: 850px;
    }

    .header-dropdown-content-list-wrapper-columns-results {
        justify-content: space-between;
    }

    .header-navigation-item-dropdown-deal-item-active {
        background-color: #f6fafd !important;
        color: #55a3ce;
    }

    .header-navigation-item-dropdown-items-content-columns-deal-item a {
        border: 1px solid #dfdfdf;
        padding: 20px 20px 15px 135px;
        line-height: 20px;
        display: inline-block;
        border-right: 0;
        background-color: #fff;
        width: 240px;
        font-weight: 700;
        border-left: none;
    }

    &-navigation-item__link:hover {
        text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
        padding-bottom: 70px;
    }

    &-navigation-logo-link__img {
        max-width: 130px;
    }

    &__bottom-border-img {
        background-image: url("../img/header/header-bottom-new.webp");
        height: 7px;
        width: 100%;
        background-size: contain;
    }

    &__bottom-border-img-wrapper {
        max-width: 2000px;
        margin: 0 auto;
    }
}

.header-dropdown-content-list-wrapper-columns-info-wrapper {
    min-width: 700px;
}








.header-dropdown-content-list-wrapper-columns-deal-lottery {
    max-width: 350px;
    text-align: center;

    &-tabs-wrapper {
        height: 100%;
        background-color: #f6fafd;
    }

    &-info {
        margin-bottom: 80px;
        padding: 10px;

        &-title__price {
            color: #55a3ce;
            font-weight: 700;
            text-align: center;
            font-size: 25px;
        }

        &__text {
            max-width: 300px;
            text-align: center;
            line-height: 20px;
            margin-bottom: 10px;
        }
    }

}

.lottery__timer {
    margin-top: 10px;
    font-size: 15px;
}

.header-dropdown-content-list-wrapper-columns-image {
    position: relative;
}

.header-dropdown-content-list-wrapper-columns-image__button-wrapper {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-dropdown-content-list-wrapper-columns-image__button {
    background: #98c80d;
    border: 2px solid #98c80d;
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: 700;
    max-width: 170px;
    font-size: 20px;
    color: #fff;

    &:hover {
        color: #98c80d;
        background-color: white;
    }
}

.header-dropdown-content-list-wrapper-columns-deal-lottery-tabs {
    width: 200px;
    top: -18%;
    left: 100%;
    height: 196%;
    background-color: #f6fafd;
    position: absolute;
    margin: 0px auto;
}

.header-dropdown-content-list-wrapper-columns-deal-lottery-tab-content {
    margin-top: 50px;
    text-align: center;

    &__link {
        color: #55a3ce;
    }
}

.header-dropdown-content-list-wrapper-info {
    padding-top: 50px;
}

.header-navigation-columns-deal-section {
    padding-top: 5px;
    padding-bottom: 150px;
}

.header-dropdown-content-list-wrapper-columns {
    padding-top: 50px;
}


.header-dropdown-content-list-wrapper-columns-description__title,
.header-dropdown-content-list-wrapper-info-columns-item__title {
    color: #595a5a;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 15px;
}

.header-navigation-item-dropdown-content-list {
    box-shadow: none;
}

.header-dropdown-content-list-wrapper-info-item {
    padding-bottom: 15px;
}

.header-dropdown-content-list-wrapper-columns-info-item-result {
    margin-bottom: 15px;
}

.header-dropdown-content-list-wrapper-columns {

    &-title {
        font-size: 24px;
        margin-bottom: 15px;

    }


    &__title-team {
        font-size: 28px;
        color: #55a3ce;
        margin-bottom: 15px;
    }

    &__title-reccomendations {
        font-size: 18px;
        color: red;
        margin-bottom: 15px;
    }

    &__subtitle {
        margin-bottom: 15px;
    }


}



/*---------------------------*/

@media (max-width: 1360px) {

    .header-dropdown-content-list-wrapper-columns-results {
        justify-content: space-around !important;
    }
}

@media (min-width: 1250px) {
    .header-navigation-logo-link__img {
        margin-right: 20px;
    }

    .header-navigation-item-dropdown-content {
        padding: 10px;
    }
}



@media(max-width:1200px) {
    .header {
        padding: 10px;
    }

    .header-navigation {
        justify-content: space-between;
        gap: 20px;
    }

    .header-navigation-items {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        justify-content: space-between;
    }

    .header-dropdown-content-list-wrapper-columns {
        margin-top: 10px;
    }

    .header-dropdown-content-list-wrapper-info {
        padding-top: 20px;
    }

    .header-navigation-items {
        background-color: #525353;
        padding: 10px;
    }

    .header-navigation-item__link {
        color: #fff;
    }

    .header-dropdown-content-list-wrapper-info {
        padding-top: 20px;
        margin-top: 10px;
    }
}


@media (max-width: 1130px) {
    .header-navigation-item__link {
        &:hover {
            padding-bottom: 140px;
        }
    }

    .header-dropdown-content-list-wrapper-columns-info {
        margin-left: 0px !important;
    }
}


@media (max-width: 1085px) {
    .header-navigation {
        gap: 20px;
        align-items: center;

    }

    .header-navigation-menu {
        gap: 10px;
    }

    .header-navigation-item__link {
        &:hover {
            padding-bottom: 120px;
        }
    }

    .header-dropdown-content-list-wrapper-columns-deal-lottery-tabs {
        height: 192%;
    }

    .header-dropdown-content-list-wrapper-columns-info-wrapper {
        min-width: 400px;
    }
}

@media (max-width: 950px) {
    .header-dropdown-content-list-wrapper-columns-deal-lottery-tabs {
        height: 180%;
    }

}

@media (max-width: 850px) {
    .header-dropdown-content-list-wrapper-columns-info {
        margin-left: 0;
    }

    .header-navigation-logo-link__img {
        margin-top: 10px;
    }

    .header-dropdown-content-list-wrapper-columns__text {
        max-width: 650px;
    }
}

@media (max-width: 840px) {
    .main {
        margin-top: 35px;
    }

    .header {
        padding: 0;

        &-navigation-item-dropdown-mobile {
            position: absolute;
            top: 150%;
            left: 0;
        }
    }

    .header-dropdown-content-list-wrapper-info-item,
    .header-dropdown-content-list-wrapper-info-item-result {
        padding: 12px;
    }

    .header-navigation-item-dropdown-content-list__close-wrapper {
        margin-top: 5px;
    }

    .header-navigation-menu::before {
        content: '';
        width: 20px;
        height: 20px;
        background-image: url('../img/header/mobile-menu-arrow.jpg');
        position: absolute;
        left: 0;
        z-index: 1;
        top: 105px;
    }

    .header-dropdown-content-list-wrapper-info-item__link {
        color: #595a5a;
        font-weight: 700;
        font-size: 16px;
        display: inline-block;
        width: max-content;
    }

    .header-navigation-item__link {
        padding: 0;
    }

    .header-navigation-items {
        padding: 0;
    }

    .header-dropdown-content-list-wrapper-columns {
        padding-top: 0;
    }

    .header-navigation-item {
        padding: 15px 20px;


        &-active {
            background-color: #55a3ce !important;
        }

        &-active .header-dropdown-content-list-wrapper-info-item__link {
            color: #fff;
        }
    }

    .header-navigation-item__link {
        padding-bottom: 0 !important;
        font-size: 16px;
    }

    .header-dropdown-content-list-wrapper-columns-link-wrapper {
        margin-bottom: 30px;
        text-align: right;
    }

    .header-dropdown-content-list-wrapper-columns__link {
        font-size: 16px;
    }


    .header-dropdown-content-list-wrapper-links {
        display: flex;
        overflow-x: scroll;
        align-items: center;
        background-color: #cfecfb;
        direction: rtl;
        position: sticky;
        top: 0;
        z-index: 1;

        &-justify {
            justify-content: flex-end;
        }
    }

    .header__bottom-border-img {
        height: 2px;

    }

    .header-dropdown-content-list-wrapper-columns__text {
        margin-top: 10px !important;
    }

    .header-navigation-columns-deal-section {
        padding-bottom: 0;
    }

    .header-dropdown-content-list-wrapper-columns-deal-lottery-info__text {
        text-align: right;
        font-size: 16px;
        line-height: 20px;
    }

    .header-dropdown-content-list-wrapper-columns-info {
        margin-left: 0;
        text-align: right;

    }

    .header-dropdown-content-list-wrapper-columns-deal-lottery-tab-content {
        text-align: center;
    }

    .header-dropdown-content-list-wrapper-columns-deal-lottery {
        margin-bottom: 20px;
        margin: 0px auto;
    }

    .header-dropdown-content-list-wrapper-columns-deal-lottery-tabs {
        position: static;
        height: 0;
        text-align: center;
        margin-bottom: 50px;
    }

    .header-dropdown-content-list-wrapper-columns-deal-lottery-info-title {
        font-size: 20px;
        text-align: right;
        margin-bottom: 15px;

        &__price {
            color: #55a3ce;
            font-weight: 700;
            font-size: 22px;
        }
    }



    .header-dropdown-content-list-wrapper-columns-deal-lottery__text {
        text-align: right;
    }

    .header-dropdown-content-list-wrapper-columns-timer-info {
        text-align: right;

        &-title {
            font-size: 22px;
            margin-bottom: 10px;

            &-team {
                color: #55a3ce;
                font-size: 24px;
                margin-bottom: 15px;
            }

            &-reccomendations {
                color: red;
                font-size: 20px;
                margin-bottom: 15px;
            }
        }

        &-text {
            max-width: 280px;
            margin-left: auto;
            margin-bottom: 10px;
        }

        &-subtitle {
            margin-bottom: 10px;
        }

        &-subtitle-link {
            color: black;
            font-size: 16px;

        }
    }

    .header-dropdown-content-list-wrapper-columns-info-item {
        padding-left: 0;

    }

    .header-navigation-item-dropdown-content-list {
        padding-bottom: 20px;
    }

    .header-dropdown-content-wrapper-image__img {
        margin-left: 0;
        max-width: 320px;

        width: 100%;

    }

    .header-navigation-logo-link__img {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
    }

    .header-dropdown-content-list-wrapper-columns {
        margin-top: 0px;
    }

    .header-dropdown-content-list-wrapper-columns-deal-lottery-tabs {
        margin-top: 30px;
    }

    .header .header-navigation-item-dropdown-items-content-columns-deal-item a {
        padding: 15px 20px 15px 18px;
        width: 100%;
        margin: 0px auto;
    }

    .header-navigation-items {
        overflow-x: scroll;
        direction: rtl;
        display: flex;
        position: absolute;
        transform: translateX(0%);
        width: 100%;
        top: 100%;
        left: 0;
        z-index: -1;
        transition: 0.3s;
        text-align: right;
        background-color: #525353;
        margin-bottom: 20px;
    }

    .header-navigation-item__link {
        width: max-content;
        display: inline-block;
        color: #fff;
    }

    .header-navigation-item__link .header-navigation-item-dropdown-content-list {
        padding-top: 0;
    }

    .header-navigation-item-dropdown-content {
        max-height: 500px;
        overflow-y: auto;

    }


    .header-burger-toggle {
        display: grid !important;
    }

    .header-navigation-item-dropdown-content-list__close {
        margin-bottom: 10px;

        &-wrapper {
            text-align: right;
        }
    }

    .header-dropdown-content-list-wrapper-columns-info__title {
        font-size: 18px;
    }

    .header-dropdown-content-list-wrapper-columns-info__title {
        font-size: 16px;
    }

    .header-dropdown-content-list-wrapper-columns-info__text {
        font-size: 14px;
    }

    .header-dropdown-content-list-wrapper-columns-info__img {
        max-width: 200px;
    }

    .header-dropdown-content-list-wrapper {
        padding-top: 5px;
        padding-right: 20px;
        max-width: 375px;
        margin: 0 auto;
    }

    .header-dropdown-content-list-wrapper__title {
        display: block;
    }

    .header-dropdown-content-list-wrapper-columns {
        gap: 10px;
        display: flex;
        justify-content: space-around;
    }


    .header-navigation-item-dropdown-items-content {
        padding-top: 0px;
        margin-top: 0px;
    }

    .header-navigation-logo-link__img {
        transform: translateY(-10px);
        position: static;
    }

    .header-dropdown-content-list-wrapper-columns-smartGames-section {
        display: block;
        text-align: center;
        padding-top: 5px;
    }

    .header-dropdown-content-list-wrapper-columns-smartGames-section__text {
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        margin: 0 auto;
        max-width: 320px;
        margin-bottom: 10px;
    }

    .header-dropdown-content-list-wrapper-columns-smartGames-section-info {
        margin-top: 15px;
        margin-left: 0;
        text-align: center;
    }

    .header-dropdown-content-list-wrapper-columns-smartGames-section__img {
        margin-bottom: 20px;
    }

    .header-dropdown-content-list-wrapper-columns-timer__img {
        max-width: 260px;
    }

    .header-dropdown-content-list-wrapper-columns-timer-section {
        flex-direction: column;
        text-align: center;
        padding-top: 5px;
    }

    .header-dropdown-content-list-wrapper-columns-timer {
        margin: 0 auto;
        align-items: flex-end;

        &-wrapper {
            text-align: center;
        }
    }

    .header-navigation-item-dropdown-items-content-columns-info {
        text-align: center;
    }

    .header-navigation-item-dropdown-items-content-columns-deal {
        display: block;
        margin: 0 auto;
    }

    .header-dropdown-content-list-wrapper-columns-deal-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .header-dropdown-content-list-wrapper-columns-deal-games-lottery {
        text-align: center;
    }

    .header-dropdown-content-list-wrapper-columns-deal-games-lottery__text {
        margin: 10px auto;
    }

    .header-navigation-item-subscription {
        display: block;
        margin: 0 auto;
    }

    .header-dropdown-content-wrapper-subscription-box__description {
        margin: 0 auto;
    }

    .header-dropdown-content-wrapper-subscription {
        margin-top: 0px;
    }

    .header-dropdown-content-wrapper-subscription-box {
        background: #f6fafd;
        margin-top: 30px;
        padding: 10px 20px;
    }

    .header-dropdown-content-list-wrapper-columns__text {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .header-dropdown-content-list-wrapper-columns-deal-lottery-info {
        margin-bottom: 30px;
    }

    .header-dropdown-content-wrapper {
        max-width: 320px;
        margin: 0px auto;
    }

    .header-dropdown-content-list-wrapper-columns-winners-cards {
        display: flex;
        justify-content: center;
    }

    .header-dropdown-content-list-wrapper-columns-winners-images-info__img {
        max-width: 100px;
    }

    .header-dropdown-content-list-wrapper-columns-image__button {
        font-size: 20px;
        padding: 15px 24px;
    }

    .header-dropdown-content-list-wrapper-columns-description__title {
        color: #595a5a;
        font-size: 22px;
        font-weight: 900;
    }


    .header-dropdown-content-wrapper-subscription-box__text {
        text-align: right;
        font-size: 16px;
        line-height: 18px;
    }


    .header-dropdown-content-list-wrapper-columns-info-results-item {
        gap: 15px;
    }
}

@media (min-width: 840px) {
    .header-navigation-item:hover .header-navigation-item-dropdown {
        display: block;
    }

    .header-navigation-item-dropdown-content-list {
        margin: 10px;
    }
}


@media (max-width: 530px) {
    .header-dropdown-content-list-wrapper-columns-winners-images {
        display: block;
    }
}

@media (max-width: 500px) {
    .header-dropdown-content-list-wrapper-columns-info__btn {
        font-size: 12px;
    }

    .header-navigation-menu::before {
        top: 88px;
    }

    .header-navigation {
        flex-wrap: nowrap;
    }


    .header-navigation-item__button-join {
        font-size: 14px;
    }

    .header-navigation-item__button-customers {
        font-size: 14px;
    }

    .header-navigation-logo-link__img {
        width: 100px;
    }

    .header-navigation {
        gap: 0;
    }

    .header-navigation-item-dropdown-mobile {
        top: 160%;
    }

}

@media(max-width: 460px) {
    .header-dropdown-content-list-wrapper-columns-info-results-card__img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 420px) {
    .header-dropdown-content-list-wrapper-columns {
        padding-top: 0;
    }
}

@media (max-width: 350px) {
    .header-navigation-item__button-join {
        font-size: 12px;
    }

    .header-dropdown-content-list-wrapper-columns-image__button {
        font-size: 16px;
    }

    .header-dropdown-content-wrapper {
        padding: 10px;
    }
}

@media (max-width: 330px) {
    .header-navigation-item__button-join {
        font-size: 10px;
    }
}