.join-us-form {
    &-more-buttons {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        gap: 20px;

        &__description {
            text-align: center;
        }

        &-wrapper {
            display: flex;
            gap: 10px;
        }
    }

    &-more-button__link {
        color: black;
        padding: 10px 20px;
        background-color: #B2DAF0;
        font-size: 20px;
    }

    &-more-buttons__description {
        font-size: 25px;
        color: #333;
        font-weight: 500;
    }
}



@media(max-width:730px) {

    .join-us-form-more-buttons {
        flex-direction: column-reverse;
        align-items: center;

        &__description {
            margin-bottom: 20px;
        }
    }


}

@media(max-width:545px) {

    .join-us-form-more-buttons__description {
        margin-top: 30px;
    }

    .join-us-form-more-buttons {
        margin-top: 20px;
    }

}

@media(max-width: 480px) {
    .join-us-form-more-buttons {
        display: none;
    }
}