.join-us-form-wrapper {
    padding-bottom: 80px;
    margin: 10px;
}

.join-us-form-mobile {
    display: none;
}

.join-us-form-mobile {
    padding-bottom: 30px !important;

    &-fields-btn-mobile-img {
        width: 100%;
        cursor: pointer;
    }

    &-selects {
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }
}

.join-us-form {
    background-color: #d0e9f7;
    max-width: 1050px;
    min-height: 200px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 40px 15px;

    &-input {
        width: 100%;
    }

    &-select {
        padding: 10px;
        width: 90px;
        height: 45px;
        direction: rtl;
        font-size: 18px;
        outline: none;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-image: url('../img/join-us/select-ico.webp');
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: calc(100% - 70px) center;
        background-color: white;
    }

    &__title {
        font-size: 25px;
        margin-top: 15px;
        font-weight: 500;
        color: #333;
    }

    &__description {
        font-size: 17px;
        margin-top: 10px;
    }

    &__text {
        font-size: 14px;
        margin-top: 30px;
    }

    &-fields {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 25px;

        &-btn {
            cursor: pointer;
        }
    }

    &-inputs {
        display: flex;
        gap: 10px;
    }

    &-input {
        height: 45px;
        font-size: 20px;
        padding-left: 10px;
        outline: none;
        min-width: 120px;
        text-align: right;
        padding-right: 10px;
        font-size: 18px;

        &::placeholder {
            color: black;
        }
    }

    &-birthday__text {
        font-size: 17px;
        min-width: fit-content;
    }

    &__description {
        max-width: 1000px;
        margin: 10px auto;
    }


}

@media(max-width:840px) {
    .footer-logo {
        margin-left: 0 !important;
    }
}



@media(max-width:730px) {
    .join-us-form-fields {
        margin-top: 20px;
    }

    .join-us-form-fields-btn {
        margin: 0px auto 15px auto;
    }

    .join-us-form-fields {
        display: block;
    }

    .join-us-form-input {
        margin-bottom: 10px;
    }

    .join-us-form-inputs {
        margin-top: 10px;
    }

}

@media(max-width:545px) {

    .join-us-form {
        padding: 10px;
    }
}


@media(max-width: 480px) {
    .join-us-form {
        display: none;
    }

    .join-us-form-mobile {
        display: block;
    }

    .join-us-form-select {
        margin: 0;
        width: 100px;
        height: 40px;
    }

    .join-us-form__title {
        font-size: 19px;
    }

    .join-us-form-mobile-birthday__text {
        text-align: right;
        margin-bottom: 10px;
        font-size: 17px;
    }

    .join-us-form-mobile-selects {
        margin-bottom: 10px;
    }

    .join-us-form__description {
        font-size: 12px;
    }

    .join-us-form-mobile__text {
        font-size: 10px;
        line-height: 20px;
    }

    .join-us-form-wrapper {
        margin: 0;
        padding-bottom: 0;
    }
}

@media(max-width: 400px) {
    .join-us-form-select {
        margin: 5px;
    }
}