.modal {
    visibility: hidden;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background .3s ease-in-out;
    opacity: 0;

}

.modal.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);

}

.modal.show .modal-content {
    transform: translateY(0%);
    left: 50%;
    opacity: 1;

}

.modal-content {
    width: 100%;
    margin: 10% auto;

    padding: 15px;
    max-width: 870px;
    transform: translateY(-30%);
    opacity: 0;
    transition: all 0.5s;
    background-color: #202020;
    border: 1px solid #51b0db;
    border-radius: 0.3rem;

    &-tab-signUp-accept-wrapper {
        text-align: center;
    }

    &-tab-signUp__accept {
        margin-top: 10px;
        background: #a1c831;
        border: 1px solid #a1c831;
        transition: background 0.3s;
        font-size: 20px;
        font-weight: 700;
        max-width: 220px;
        padding: 10px 15px;
        border-radius: 5px;
        width: 100%;
        color: #fff;

        &:hover {
            background-color: transparent;
        }
    }

    &.hide {
        margin: 0;
    }

    &-body {
        padding: 35px 60px 30px;
    }

    &-buttons {
        display: flex;
        gap: 20px;
    }

    &__btn {
        border: 2px solid #fff;
        background: 0 0;
        border-radius: 4px;
        margin: 0 auto;
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        height: 45px;

        &--active {
            background-color: #51b0db;
            border-color: #51b0db;
        }
    }

    &-tab-signIn {
        display: none;
    }

    &-tab-signUp-info {
        font-size: 16px;
        text-align: center;
        margin-top: 20px;

        &__checkbox {
            margin-left: 10px;
            width: 18px;
            height: 18px;
        }

        &-agreement {
            margin-top: 10px;
        }

        &-rules-label {
            color: #fff;

            &__link {
                color: #51b0db;
            }

            &__highlighted {
                color: #51b0db;
            }
        }
    }

    &-tab-signUp-label {
        display: block;
        color: #fff;
        text-align: right;
        font-size: 16px;
        margin-bottom: 5px;
    }

    &-tab-signUp-selects {
        min-width: 230px;
        text-align: center;
    }

    &-tab-signUp-column {
        max-width: 350px;
        min-width: 230px;
    }

    &-tab-signIn-column {
        min-width: 230px;
        text-align: center;
        margin: 0px auto;
    }

    &-tab-signUp-select {
        padding: 10px 33px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        direction: rtl;
        margin-bottom: 15px;
        border-radius: 3px;
        outline: none;



        -webkit-appearance: none;
        background: url('../img/join-us/select-ico.webp') no-repeat left center;
        background-size: 15px;
        background-position-x: 10px;
        padding-left: 50px;
        color: #333;
        border: 1px solid gray;
        background-color: white;
    }

    &-tab-signUp-input-wrapper {
        position: relative;
    }

    &-tab-signUp-input {
        width: 100%;
        padding: 10px 10px 10px 40px;
        outline: none;
        font-size: 1rem;
        font-weight: 400;
        border-radius: 0.25rem;
        margin-bottom: 15px;
        text-align: right;

        &::placeholder {
            color: black;
            font-size: 16px;
        }

        &__icon {
            position: absolute;
            left: 10px;
            top: 10px;
        }
    }

    &-tab-signUp-columns {
        margin-top: 40px;
        gap: 20px;
        display: flex;
    }

    &-tab-signUp-inputs {
        gap: 5px;
        margin-top: 20px;
        display: flex;
    }

    &-tab-inner-tab-content {
        padding-top: 30px;
        max-width: 400px;
        margin: 0px auto;
    }

    &-tab-form-signup__msg {
        font-size: 16px;
        color: #fff;
        margin-top: 30px;

        &-link {
            font-weight: 700;
            color: #a1c831;
        }
    }

    &-tab-inner-tabs__btn {
        background: none;
        font-size: 16px;
        color: #fff;
        border-bottom: 2px solid #686a6b;
        padding: 5px 20px;
        position: relative;
        transition: all 0.3s;
        width: 100%;

        &--active {
            color: #51b0db;
            border-color: #51b0db;

            &::after {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: 100%;
                bottom: 0;
                border: 12px solid transparent;
                border-top: 12px solid #51b0db;
            }
        }

        &:hover {
            color: #51b0db;
            border-color: #51b0db;

            &::after {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: 100%;
                border: 12px solid transparent;
                border-top: 12px solid #51b0db;
            }
        }
    }

    &-tab-inner-tabs-btns {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        max-width: 450px;
        margin: 20px auto;
    }

    &-tab-inner-tabs {
        color: #fff;
    }

    &-tab-inner-tab-content-code {
        display: none;
    }

    &-tab-signUp-pass-stay {
        display: flex;
        justify-content: space-between;

        &-wrapper {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__forgot-pass {
            color: #a1c831;
            font-size: 18px;
        }

        &__checkbox-label {
            font-size: 18px;
        }

        &__checkbox {
            width: 18px;
            height: 18px;
        }
    }
}

.close {
    color: #aaaaaa;
    text-align: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 920px) {
    .modal-content-body {
        padding: 35px 20px 30px;
    }

    .modal-content-tab-signUp {
        margin-top: 30px;
    }

    .modal-content-tab-signUp-columns {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .modal-content {
        margin: 0 auto;
        height: 100%;
        min-height: 800px;
    }
}

@media (max-width: 370px) {
    .modal-content-tab-inner-tabs-btns {
        display: block;
    }
}