.register-form {
    position: absolute;
    top: 0px;
    left: 8%;
    z-index: 3;
    text-align: center;
    margin: 0px 10px;

    &-info {
        background: rgba(0, 0, 0, 0.7);
        max-width: 365px;
        min-height: 300px;
        border-radius: 2px;
        color: white;
        padding-bottom: 20px;
    }

    &-banner {
        background-image: url("https://www.playsmart.co.il/wp-content/themes/responsive/core/images/green_banner_small.png");
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
        left: 40px;
    }

    &__title {
        margin-left: auto;
        font-size: 21px;
        text-align: center;
        padding-top: 20px;
    }

    &__price {
        text-align: center;
        margin-top: 20px;
        font-size: 40px;
        color: #f7bf23;
    }

    &-fields__input {
        color: #000;
        width: 100%;
        font-size: 20px;
        text-align: right;
        padding: 12px 0px;
        padding-right: 10px;
        outline: none;
        border-radius: 2px;
        margin-bottom: 10px;
    }

    &-fields {
        margin-top: 20px;
        padding: 0 30px;
    }

    &-card {
        margin: 0 auto;
    }

    &-fields__birthday {
        text-align: right;
        font-size: 17px;
    }

    &-registration {
        margin-top: -40px;
    }

    &-selects {
        text-align: center;
        margin-top: 15px;
    }

    &-select {
        height: 50px;
        width: 85px;
        color: #525353;
        font-size: 17px;
        text-align: right;
        border-radius: 2px;
        margin-right: 5px;
        outline: none;
        direction: rtl;
        padding-right: 10px;

    }


}

.register-form-accept {
    &__button-submit {
        margin-top: 20px;
        background-color: #98c80d;
        width: 100%;
        font-size: 21px;
        padding: 15px 3px;
    }

    &-login {
        font-size: 19px;
        color: #fff;
        text-align: center;
        margin-top: 10px;

        &__link {
            color: #98c80d;
            text-decoration: underline;
        }
    }

    &__agree-text {
        font-size: 19px;
        color: #fff;
        text-align: center;
        margin-top: 10px;
    }
}


@media(max-width: 1200px) {
    .register-form {
        margin-top: 30px;
    }
}

@media (max-width: 500px) {

    .register-form-accept__button-submit {
        font-size: 18px;
    }

    .register-form {
        max-width: none;
        left: 0;
        margin: 10px 0;
        width: 100%;
    }

    .register-form-info {
        max-width: none;
    }

    .register-form__price {
        font-size: 30px;
    }

    .register-form-select {
        width: 100%;

    }

    .register-form-selects {
        display: flex;
    }


}


@media(max-width: 360px) {
    .register-form-fields {
        padding-left: 20px;
        padding-right: 20px;
    }

    .register-form-accept__button-submit {
        font-size: 16px;
    }
}