.mobile-menu-title {
  background-color: #303536;
  opacity: 0.8;
  color: white;
  text-align: right;
  margin-bottom: 5px;
  padding: 10px;
}

.title {
  font-size: 40px;
  color: #333;
  font-weight: 600;
}