.video-popup-wrapper {
    position: relative;
}

.video-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.video-player {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    height: 600px;
    padding: 20px;
}

.video-popup__close-icon {
    font-size: 80px;
    position: absolute;
    right: 0;
    cursor: pointer;
    color: white;
    margin: 20px;
}


@media (max-width: 700px) {
    .video-player {
        max-width: 1000px;
        height: 400px;
    }
}