thead,
tbody,
tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.winners-realtime-wrapper {
    padding-top: 150px;
    padding-bottom: 30px;
}

.winners-realtime-table-mobile-wrapper {
    display: none;
}

.winners-realtime-filters-list {
    max-width: 930px;
    margin: 0 auto;
    margin-bottom: 65px;
}

.winners-realtime-filters-mobile-columns {
    display: none;
}

.winners-realtime {
    max-width: 1020px;
    margin: 0px auto;

    padding: 10px;

    &-table {
        border-collapse: collapse;
        min-width: 650px;

        &-wrapper {
            overflow: auto;
        }
    }

    &-head-row__cell {
        text-align: right;
        font-size: 18px;
        background-color: #4c4c4c;
        color: #fff;
        padding: 8px;
        line-height: 30px;
    }

    &-body-row {
        height: 40px;
    }

    &-body-row {
        background: #ffffff;
        border-bottom: 1px solid black;

        &-cell {
            font-size: 16px;
        }

        &:hover {
            background: rgb(235, 235, 235);
        }

        &-cell__star {
            margin-top: -3px;
        }

        &-cell__number {
            box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 60%);
            padding: 2px 10px;
        }
    }

    &-filters-list-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 85px;
        justify-items: center;

        &__reset {
            height: 39px;
            width: 180px;
            border: 2px solid black;
            font-size: 16px;
        }
    }

    &-filters-list-row-select {
        width: 180px;
        padding: 9px 12px;
        border: 1px solid rgb(181, 181, 181);
        outline: none;
        direction: rtl;
        font-size: 16px;
        -webkit-appearance: none;
        background: url("../img/join-us/select-ico.webp") no-repeat left center;
        background-size: 15px;
        background-position-x: 10px;
    }

    &-filters-list-row__label {
        display: block;
        text-align: right;
    }

    &-filters-list-row-wrapper {
        max-width: 180px;
    }

    &-login-msg {
        text-align: center;
        font-size: 17px;
        margin-top: 35px;

        &__link {
            color: blue;
        }
    }
}

.winners-realtime-mobile-table {
    &-head {
        &-row {
            background-color: #4c4c4c;

            &__cell {
                border: 1px solid #ddd;
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 5px;
                justify-content: flex-end;
                font-size: 18px;
                color: #fff;
            }
        }
    }

    &-body {
        &-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            border-bottom: #444 solid 2px;
            background: #f2f2f2;

            &-cell {
                padding: 10px 10px 8px 10px;
                border: 1px solid #ddd;

                &__number {
                    box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 60%);
                    padding: 1px 10px;

                    &-green {
                        box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 60%);
                        padding: 1px 10px;
                        background-color: #21ff21;
                    }
                }

                &__star {
                    transform: translateY(-2px);
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .winners-realtime-filters-list {
        margin-top: 100px;
    }
}

@media (max-width: 820px) {
    .winners-realtime-filters-list-row {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;

        &-wrapper {
            margin: 0 auto;
        }
    }
}

@media (max-width: 690px) {
    .winners-realtime-head-row__cell {
        text-align: center;
    }
}

@media (max-width: 620px) {
    .winners-realtime-filters-list-row {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
}

@media (max-width: 550px) {
    .winners-realtime-head-row__cell {
        text-align: left;
    }
}

@media (max-width: 450px) {
    .winners-realtime-head-row__cell {
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .winners-realtime-filters-list {
        display: none;
    }

    .winners-realtime-table-wrapper {
        display: none;
    }

    .winners-realtime-table-mobile-wrapper {
        display: block;
    }

    .winners-realtime-filters-mobile-columns {
        display: flex;
        justify-content: space-evenly;
        gap: 5px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .winners-realtime-filters-mobile-column__datePicker {
        padding: 3px;
        border: 1px solid gray;
        outline: none;

        -webkit-appearance: none;
        background-color: white;
        border: 1px solid gray;
        font-size: 16px;
        color: #333;
        border-radius: 0;
        height: 28px;
    }

    .winners-realtime-filters-mobile-column-select {
        padding: 5px;
        outline: none;
        direction: rtl;
        border: 1px solid gray;
        -webkit-appearance: none;
        background: url("../img/join-us/select-ico.webp") no-repeat left center;
        background-size: 15px;
        background-position-x: 10px;
        padding-left: 50px;
        color: #333;
        width: 100%;
    }

    .winners-realtime-filters-mobile-column-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        &__label {
            text-align: right;
            margin-bottom: 10px;
        }

        &__restart-btn {
            padding: 2px;
            border: 2px solid black;
        }
    }
}