.winner-slider-wrapper {
    background: url('../img/winners-slider/confetti.webp');
    background-position: 100% 100%;
}

.winners {
    text-align: center;
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom: 30px;

    &-card {
        max-width: 230px;
        max-height: 300px;

        position: relative;

        &-play-btn {
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: #A7CB40;
            border-radius: 50%;
            right: 50px;
            cursor: pointer;

            &__icon-video {
                position: absolute;
                top: 20%;
                left: 30%;
            }

            &__icon-speaker {
                position: absolute;
                top: 25%;
                left: 20%;
            }

            &-blue {
                background-color: #5CA7D0;
            }

            &-pink {
                background-color: #D6235C;
            }
        }
    }

    &__section-title {
        font-size: 40px;
        font-weight: 600;
        color: #303536;
    }

    &__section-description {
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        color: #333;
    }

    &-card-image-wrapper {
        width: 100%;
        height: 100%;
        min-width: 220px;
        min-height: 230px;

        &-circle {

            &-yellow {
                background: url('../img/winners-slider/circle.webp') no-repeat;
                background-size: 220px 230px;
            }

            &-pink {
                background: url('../img/winners-slider/circle2.webp') no-repeat;
                background-size: 220px 230px;
            }

            &-blue {
                background: url('../img/winners-slider/circle3.webp') no-repeat;
                background-size: 220px 230px;
            }

            &-green {
                background: url('../img/winners-slider/circle4.webp') no-repeat;
                background-size: 220px 230px;
            }
        }
    }

    &-card__image {
        text-align: center;
        position: relative;
        top: 50%;
        z-index: -1;
        width: 220px;
        padding-bottom: 15px;
    }

    &-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin-bottom: 50px;
        margin-top: 35px;
    }

    &-card-info {
        margin-top: 30px;
    }

    &-card__prize {
        margin-top: 5px;
        font-weight: 600;
        font-size: 16px;
    }
}

@media(max-width: 970px) {
    .winners-card__image {
        width: 100%;
    }
}

@media (max-width: 820px) {

    .winners-cards {
        justify-content: center;
        gap: 40px;
    }
}

@media (max-width: 570px) {
    .winners-cards {
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 450px) {
    .winners__section-title {
        font-size: 30px !important;
    }

    .winners__section-description {
        font-size: 15px !important;
    }
}