@import "winners-accordions.module.scss";


.results-wrapper {
    background: url('../../../img/winner-in-realtime/main_background.webp');
    min-height: 315px;
}

.results {
    position: relative;


    &-info {
        text-align: right;
        padding-top: 80px;
    }

    &__title {
        font-size: 40px;
        color: #333;
        font-weight: 600;
    }

    &__description {
        margin-top: 50px;
        font-size: 1.65rem;
        color: #333;
    }

    &-realtime {
        margin-top: 40px;

        &__link {
            font-size: 17px;
            color: #626262;
            text-decoration: underline;
        }
    }

    &-news {
        font-size: 16px;
        font-weight: 700;
        text-align: right;
        margin-top: 55px;
        padding-right: 10px;

        &__link {
            color: blue;
        }
    }
}


@media(max-width: 1480px) {
    .results {
        &-info {
            padding-right: 10px;
        }
    }
}

@media (max-width: 1000px) {
    .results-news {
        transform: translateY(120px);
        padding: 5px;
    }

    .results-wrapper {
        background-position-x: 20%;
    }

    .results-info {
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        top: 450px;
        width: 100%;
    }

    .results__title {
        font-size: 30px;
    }

    .results__description {
        font-size: 20px;
    }


    .results-wrapper {
        background-position-x: 30%;
    }
}

@media (max-width: 440px) {
    .results__description {
        display: none;
    }
}

@media(max-width: 360px) {
    .results__title {
        margin-top: 20px;
        font-size: 24px;
    }
}