.accordions {
    margin-top: 50px;
    padding-bottom: 120px;
}


.accordion-item-btn {
    color: #444;
    cursor: pointer;
    outline: none;
    padding: 18px;
    width: 100%;
    text-align: right;
    font-size: 20px;
    transition: 0.4s;
    background-color: white;
    border-top: 1px solid gray;
}

.accordion-item:nth-last-child(-n + 1) {
    border-bottom: 1px solid gray;
}

.accordion-item-btn::before {
    content: '\002B';
    float: left;
    margin-left: 5px;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 1px 6px;
    color: gray;
    line-height: 22px;
}

.active::before {
    content: "\2212";
}

.accordion-item-panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    max-width: 1300px;
    margin-left: auto;
    text-align: right;

    &__text {
        padding-bottom: 20px;
        line-height: 20px;
    }
}


@media(max-width: 420px) {
    .accordions {
        padding-bottom: 70px;
    }
}