<div class="footer-mobile-accordions">
  <div class="wrapper footer-mobile-accordions-wrapper">
    <div class="footer-mobile-accordions">
      <div class="container">
        <div class="footer-mobile-accordion-wrapper">
          <div class="footer-mobile-accordion-item">
            <button class="footer-mobile-accordion-item-btn">אודותינו</button>
            <div class="footer-mobile-accordion-item-panel">
              <div class="footer-mobile-accordion-item-panel-content">
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a
                    class="footer-mobile-accordion-item-panel__link"
                    href="https://www.playsmart.co.il/%d7%a7%d7%a6%d7%aa-%d7%a2%d7%9c-%d7%a1%d7%9e%d7%90%d7%a8%d7%98/"
                    >סמארט – מי אנחנו</a
                  >
                </div>
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a
                    class="footer-mobile-accordion-item-panel__link"
                    href="https://www.playsmart.co.il/%d7%a7%d7%a6%d7%aa-%d7%a2%d7%9c-%d7%a1%d7%9e%d7%90%d7%a8%d7%98/"
                    >מן העיתונות</a
                  >
                </div>
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a class="footer-mobile-accordion-item-panel__link" href="#"
                    >תרומה לקהילה</a
                  >
                </div>
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a class="footer-mobile-accordion-item-panel__link" href="#"
                    >שיטה ויועצים</a
                  >
                </div>
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a class="footer-mobile-accordion-item-panel__link" href="#"
                    >תקן ISO</a
                  >
                </div>
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a class="footer-mobile-accordion-item-panel__link" href="#"
                    >תו תקן לאיכות בשירות</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="footer-mobile-accordion-item">
            <button class="footer-mobile-accordion-item-btn">מה זה ו</button>
            <div class="footer-mobile-accordion-item-panel">
              <div class="footer-mobile-accordion-item-panel-content">
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a
                    class="footer-mobile-accordion-item-panel__link"
                    href="https://www.playsmart.co.il/%d7%a7%d7%a6%d7%aa-%d7%a2%d7%9c-%d7%a1%d7%9e%d7%90%d7%a8%d7%98/"
                    >שירות לקוחות</a
                  >
                </div>
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a
                    class="footer-mobile-accordion-item-panel__link"
                    href="https://www.playsmart.co.il/%d7%a7%d7%a6%d7%aa-%d7%a2%d7%9c-%d7%a1%d7%9e%d7%90%d7%a8%d7%98/"
                    >הסדר פשרה</a
                  >
                </div>
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a class="footer-mobile-accordion-item-panel__link" href="#"
                    >תקנונים</a
                  >
                </div>
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a class="footer-mobile-accordion-item-panel__link" href="#"
                    >צור קשר</a
                  >
                </div>
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a class="footer-mobile-accordion-item-panel__link" href="#"
                    >הקוד האתי של Smart</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="footer-mobile-accordion-item">
            <button class="footer-mobile-accordion-item-btn">קישורים</button>
            <div class="footer-mobile-accordion-item-panel">
              <div class="footer-mobile-accordion-item-panel-content">
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a
                    class="footer-mobile-accordion-item-panel__link"
                    href="https://www.playsmart.co.il/%d7%a7%d7%a6%d7%aa-%d7%a2%d7%9c-%d7%a1%d7%9e%d7%90%d7%a8%d7%98/"
                    >הגרלות נוספות</a
                  >
                </div>
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a
                    class="footer-mobile-accordion-item-panel__link"
                    href="https://www.playsmart.co.il/%d7%a7%d7%a6%d7%aa-%d7%a2%d7%9c-%d7%a1%d7%9e%d7%90%d7%a8%d7%98/"
                    >גלישה בטוחה</a
                  >
                </div>
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a class="footer-mobile-accordion-item-panel__link" href="#"
                    >Affiliate program</a
                  >
                </div>
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a class="footer-mobile-accordion-item-panel__link" href="#"
                    >הסדר פשרה</a
                  >
                </div>
                <div class="footer-mobile-accordion-item-panel-link-wrapper">
                  <a class="footer-mobile-accordion-item-panel__link" href="#"
                    >תנאי שימוש ומדיניות הפרטיות</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
