<footer class="wrapper footer-wrapper">
  <div class="container">
    <div class="footer">
      <div class="footer-links">
        <h5 class="footer-links__title">קישורים</h5>
        <a href="#" class="footer-links__link link">הגרלות נוספות</a>
        <a href="#" class="footer-links__link link">גלישה בטוחה</a>
        <a href="#" class="footer-links__link link">Affiliate program</a>
        <a href="#" class="footer-links__link link">הסדר פשרה</a>
        <a href="#" class="footer-links__link link">אי שימוש ומדיניות</a>
        <a href="#" class="footer-links__link link">הפרטיות</a>
      </div>
      <div class="footer-links">
        <h5 class="footer-links__title">שירותים</h5>
        <a href="#" class="footer-links__link link">שירות לקוחות</a>
        <a href="#" class="footer-links__link link">תקנונים</a>
        <a href="#" class="footer-links__link link">צור קשר</a>
        <a href="#" class="footer-links__link link">הקוד האתי של Smart</a>
      </div>
      <div class="footer-links">
        <h5 class="footer-links__title">אודותינו</h5>
        <a href="#" class="footer-links__link link">סמארט – מי אנחנו</a>
        <a href="#" class="footer-links__link link">מן העיתונות</a>
        <a href="#" class="footer-links__link link">תרומה לקהילה</a>
        <a href="#" class="footer-links__link link">שיטה ויועצים</a>
        <a href="#" class="footer-links__link link">לקוחות מספרים</a>
        <a href="#" class="footer-links__link link"
          ><span class="link-highlight">ISO</span> תקן</a
        >
        <a href="#" class="footer-links__link link">תו תקן לאיכות בשירות</a>
      </div>
      <div class="footer-logo">
        <a href="#"
          ><img
            class="footer-logo__link"
            src="./img/logos/footer_logo_new.webp"
            alt="logo"
        /></a>
        <div class="footer-links-socials">
          <a class="footer-links-socials__link" href="#"
            ><img
              class="footer-links-socials__link-img"
              src="./img/socials/twitter-icon.webp"
              alt="twitter"
          /></a>
          <a class="footer-links-socials__link" href="#"
            ><img
              class="footer-links-socials__link-img"
              src="./img/socials/facebook-icon.webp"
              alt="facebook"
          /></a>
          <a class="footer-links-socials__link" href="#"
            ><img
              class="footer-links-socials__link-img"
              src="./img/socials/linkedin-icon.webp"
              alt="linkedin"
          /></a>
          <a class="footer-links-socials__link" href="#"
            ><img
              class="footer-links-socials__link-img"
              src="./img/socials/youtube-icon.webp"
              alt="youtube"
          /></a>
        </div>
      </div>
    </div>
    <div class="footer-mobile">
      <div class="footer-mobile-logo">
        <img
          class="footer-mobile-logo__img"
          src="./img/logos/logo.webp"
          alt=""
        />
      </div>
      @include('../components/footer-mobile-accordions.html')
    </div>
    <div class="footer-mobile-socials">
      <div class="footer-mobile-social">
        <a class="footer-mobile-social-link" href="#">
          <img
            class="footer-mobile-social-link__img"
            src="./img/socials/twitter-icon.webp"
            alt=""
          />
        </a>
      </div>
      <div class="footer-mobile-social">
        <a class="footer-mobile-social-link" href="#">
          <img
            class="footer-mobile-social-link__img"
            src="./img/socials/facebook-icon.webp"
            alt=""
          />
        </a>
      </div>
      <div class="footer-mobile-social">
        <a class="footer-mobile-social-link" href="#">
          <img
            class="footer-mobile-social-link__img"
            src="./img/socials/linkedin-icon.webp"
            alt=""
          />
        </a>
      </div>
      <div class="footer-mobile-social">
        <a class="footer-mobile-social-link" href="#">
          <img
            class="footer-mobile-social-link__img"
            src="./img/socials/youtube-icon.webp"
            alt=""
          />
        </a>
      </div>
    </div>
    <div class="footer-horizontal"></div>
    <div class="footer-widgets">
      <div class="footer-widgets-images">
        <a class="footer-widgets-images-link" href="#">
          <img
            class="footer-widgets-images-link__img"
            src="./img/widgets/visa_new.webp"
            alt=""
          />
        </a>
        <a class="footer-widgets-images-link" href="#">
          <img
            class="footer-widgets-images-link__img"
            src="./img/widgets/master_card_new.webp"
            alt=""
          />
        </a>
        <a class="footer-widgets-images-link" href="#">
          <img
            class="footer-widgets-images-link__img"
            src="./img/widgets/lock_new.webp"
            alt=""
          />
        </a>
        <a class="footer-widgets-images-link" href="#">
          <img
            class="footer-widgets-images-link__img"
            src="./img/widgets/logo-forum_new.webp"
            alt=""
          />
        </a>
        <a class="footer-widgets-images-link" href="#">
          <img
            class="footer-widgets-images-link__img"
            src="./img/widgets/org_new.webp"
            alt=""
          />
        </a>
        <a class="footer-widgets-images-link" href="#">
          <img
            class="footer-widgets-images-link__img"
            src="./img/widgets/18-new.webp"
            alt=""
          />
        </a>
      </div>
      <p class="footer-widgets-rights">
        <a class="footer-widgets-rights-link" href="#">ISO 90012015</a>
        <span class="footer-widgets-rights__highlight"
          >כל הזכויות שמורות לחברת טוטוקארד 5 בע"מ הפועלת בכפוף לתקן ©</span
        >
      </p>
    </div>

    <div class="footer-widgets-mobile">
      <div class="footer-widgets-images">
        <a class="footer-widgets-images-link" href="#">
          <img
            class="footer-widgets-images-link__img"
            src="./img/widgets/visa_new.webp"
            alt=""
          />
        </a>
        <a class="footer-widgets-images-link" href="#">
          <img
            class="footer-widgets-images-link__img"
            src="./img/widgets/master_card_new.webp"
            alt=""
          />
        </a>
        <a class="footer-widgets-images-link" href="#">
          <img
            class="footer-widgets-images-link__img"
            src="./img/widgets/lock_new.webp"
            alt=""
          />
        </a>
        <a class="footer-widgets-images-link" href="#">
          <img
            class="footer-widgets-images-link__img"
            src="./img/widgets/org_new.webp"
            alt=""
          />
        </a>
      </div>
      <p class="footer-widgets-rights">
        <a class="footer-widgets-rights-link" href="#">ISO 90012015</a>
        <span class="footer-widgets-rights__highlight"
          >כל הזכויות שמורות לחברת טוטוקארד 5 בע"מ הפועלת בכפוף לתקן ©</span
        >
      </p>
    </div>
  </div>
</footer>
