<div class="join-us-form-more-buttons">
  <div class="join-us-form-more-buttons-wrapper">
    <div class="join-us-form-more-button-wrapper">
      <a class="join-us-form-more-button__link" href="#">צ'אנס</a>
    </div>
    <div class="join-us-form-more-button-wrapper">
      <a class="join-us-form-more-button__link" href="#">צ'אנס</a>
    </div>
    <div class="join-us-form-more-button-wrapper">
      <a class="join-us-form-more-button__link" href="#">צ'אנס</a>
    </div>
    <div class="join-us-form-more-button-wrapper">
      <a class="join-us-form-more-button__link" href="#">צ'אנס</a>
    </div>
  </div>
  <h3 class="join-us-form-more-buttons__description">למשחקים נוספים:</h3>
</div>
