<form class="join-us-form-wrapper">
  <div class="container">
    <div class="join-us-form">
      <div class="join-us-form-info">
        <h1 class="join-us-form__title">הצטרפו לסמארט ותתחילו לשחק חכם!</h1>
        <p class="join-us-form__description">
          השאירו פרטים ונחזור אליכם בהקדם:
        </p>
      </div>
      <div class="join-us-form-fields">
        <div class="join-us-form-fields-btn">
          <img src="./img/join-us/button_submit.webp" alt="" />
        </div>
        <select
          class="join-us-form-fields-years join-us-form-select"
          name="year"
        >
          <option value="-1">שנה</option>
          <option value="1980">1980</option>
        </select>
        <select class="join-us-form-select" name="month" id="">
          <option value="-1">שנה</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <select class="join-us-form-select" name="day" id="">
          <option value="-1">יום</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <p class="join-us-form-birthday__text">תאריך לידה:</p>
        <div class="join-us-form-inputs">
          <input
            class="join-us-form-input"
            placeholder="טלפון נייד"
            type="text"
          />
          <input class="join-us-form-input" placeholder="שם מלא" type="text" />
        </div>
      </div>
      <p class="join-us-form__text">
        *בעצם מילוי ושליחת פרטיי שלעיל אני מאשר לסמארט להעביר לי תזכורת לעניין
        מימוש ההטבה, לרבות באמצעות מסרון.
      </p>
    </div>
    <div class="join-us-form-mobile join-us-form">
      <div class="join-us-form-mobile-info">
        <h1 class="join-us-form__title">הצטרפו לסמארט ותתחילו לשחק חכם!</h1>
        <p class="join-us-form__description">
          השאירו פרטים ונחזור אליכם בהקדם:
        </p>
      </div>
      <div class="join-us-form-mobile-fields">
        <div class="join-us-form-mobile-inputs">
          <input
            class="join-us-form-mobile-input join-us-form-input"
            placeholder="טלפון נייד"
            type="text"
          />
          <input
            class="join-us-form-mobile-input join-us-form-input"
            placeholder="שם מלא"
            type="text"
          />
        </div>
        <p class="join-us-form-mobile-birthday__text">תאריך לידה:</p>
        <div class="join-us-form-mobile-selects">
          <select
            class="join-us-form-mobile-fields-years join-us-form-select"
            name="year"
          >
            <option value="-1">שנה</option>
            <option value="1980">1980</option>
          </select>
          <select
            class="join-us-form-mobile-select join-us-form-select"
            name="month"
            id=""
          >
            <option value="-1">שנה</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <select
            class="join-us-form-mobile-select join-us-form-select"
            name="day"
            id=""
          >
            <option value="-1">יום</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>
      <div class="join-us-form-mobile-fields-btn">
        <img
          class="join-us-form-mobile-fields-btn-mobile-img"
          src="./img/join-us/button_submit-mobile.webp"
          alt=""
        />
      </div>
      <p class="join-us-form-mobile__text">
        *בעצם מילוי ושליחת פרטיי שלעיל אני מאשר לסמארט להעביר לי תזכורת לעניין
        מימוש ההטבה, לרבות באמצעות מסרון.
      </p>
    </div>
    @include('../components/join-us-form-more-buttons.html')
  </div>
</form>
