<div id="modal" class="modal">
  <div class="modal-content" id="modal-content">
    <span class="close" onclick="closeModal()">
      <img src="./img/modal-window/close-ico.svg" width="18" alt="" />
    </span>
    <div class="modal-content-body">
      <div class="modal-content-buttons">
        <button class="modal-content__btn">רישום</button>
        <button class="modal-content__btn">כניסה</button>
      </div>
      <div class="modal-content-tab-signUp">
        <div class="modal-content-tab-signUp-columns">
          <div class="modal-content-tab-signUp-column">
            <div class="modal-content-tab-signUp-selects">
              <label class="modal-content-tab-signUp-label" for="bithday"
                >תאריך לידה</label
              >
              <select class="modal-content-tab-signUp-select" name="year">
                <option value="-1">שנה</option>
                <option value="2001">2001</option>
                <option value="2002">2002</option>
                <option value="2003">2003</option>
                <option value="2004">2004</option>
                <option value="2005">2005</option>
                <option value="2006">2006</option>
                <option value="2007">2007</option>
                <option value="2008">2008</option>
                <option value="2009">2009</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
              </select>
              <select class="modal-content-tab-signUp-select" name="month">
                <option value="-1">שנה</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
              <select class="modal-content-tab-signUp-select" name="day">
                <option value="-1">יום</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
            </div>

            <div class="modal-content-tab-signUp-input-wrapper">
              <input
                class="modal-content-tab-signUp-input"
                type="text"
                placeholder="ת.ז"
              />
              <img
                class="modal-content-tab-signUp-input__icon"
                src="./img/modal-window/form/id.svg"
                alt=""
                width="24"
              />
            </div>
            <div class="modal-content-tab-signUp-input-wrapper">
              <input
                class="modal-content-tab-signUp-input"
                type="text"
                placeholder="טלפון נייד"
                width="20"
              />
              <img
                class="modal-content-tab-signUp-input__icon"
                src="./img/modal-window/form/phone.svg"
                alt=""
              />
            </div>
          </div>
          <div class="modal-content-tab-signUp-column">
            <div class="modal-content-tab-signUp-inputs">
              <div class="modal-content-tab-signUp-input-wrapper">
                <input
                  class="modal-content-tab-signUp-input"
                  type="text"
                  placeholder=" שם משפחה"
                  width="20"
                />
                <img
                  class="modal-content-tab-signUp-input__icon"
                  src="./img/modal-window/form/surname.svg"
                  alt=""
                />
              </div>
              <div class="modal-content-tab-signUp-input-wrapper">
                <input
                  class="modal-content-tab-signUp-input"
                  type="text"
                  placeholder=" שם פרטי"
                  width="20"
                />
                <img
                  class="modal-content-tab-signUp-input__icon"
                  src="./img/modal-window/form/surname.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="modal-content-tab-signUp-input-wrapper">
              <input
                class="modal-content-tab-signUp-input"
                type="text"
                placeholder=" שם משתמש "
                width="20"
              />
              <img
                class="modal-content-tab-signUp-input__icon"
                src="./img/modal-window/form/name.svg"
                alt=""
                style="transform: translateY(-2px)"
              />
            </div>
            <div class="modal-content-tab-signUp-input-wrapper">
              <input
                class="modal-content-tab-signUp-input"
                type="text"
                placeholder="אימייל "
                width="20"
              />
              <img
                class="modal-content-tab-signUp-input__icon"
                src="./img/modal-window/form/email.svg"
                alt=""
                style="transform: translateY(3px)"
              />
            </div>
          </div>
        </div>

        <div class="modal-content-tab-signUp-info">
          <div class="modal-content-tab-signUp-info-rules">
            <label
              class="modal-content-tab-signUp-info-rules-label"
              for="form-check-label"
            >
              <a
                class="modal-content-tab-signUp-info-rules-label__highlighted"
                href="https://www.playsmart.co.il\wp-content\uploads/2015/11/Smart-Gamez-תקנון-.pdf"
                >Smart Gamez</a
              >

              <a
                class="modal-content-tab-signUp-info-rules-label__link"
                href="https://www.playsmart.co.il\wp-content\uploads/2015/11/תנאי-שימוש-ומדיניות-הפרטיות-באתר-סמארט.pdf"
                target="_blank"
                >תנאי השימוש</a
              >
              <span
                class="modal-content-tab-signUp-info-rules-label__highlighted"
                >באתר סמארט ותקנון
              </span>
              אני מסכימ/ה ל
            </label>
            <input
              id="terms"
              class="modal-content-tab-signUp-info__checkbox"
              type="checkbox"
            />
          </div>
          <div class="modal-content-tab-signUp-info-agreement">
            <label
              class="modal-content-tab-signUp-info-rules-label"
              for="form-check-label"
            >
              מאשר קבלת עדכונים
            </label>
            <input
              id="get-updates"
              class="modal-content-tab-signUp-info__checkbox"
              type="checkbox"
            />
          </div>
        </div>
        <div class="modal-content-tab-signUp-accept-wrapper">
          <button class="modal-content-tab-signUp__accept">שלח</button>
        </div>
      </div>
      <div class="modal-content-tab-signIn">
        <div class="modal-content-tab-signIn-column">
          <div>
            <div class="modal-content-tab-inner-tabs-btns">
              <button
                class="modal-content-tab-inner-tabs__btn modal-content-tab-inner-tabs__btn-code"
              >
                כניסה עם סיסמה
              </button>
              <button
                class="modal-content-tab-inner-tabs__btn modal-content-tab-inner-tabs__btn-pass modal-content-tab-inner-tabs__btn--active"
              >
                כניסה עם סיסמה
              </button>
            </div>

            <div class="modal-content-tab-inner-tabs">
              <div
                class="modal-content-tab-inner-tab-content-code modal-content-tab-inner-tab-content"
              >
                <div class="modal-content-tab-signUp-input-wrapper">
                  <input
                    class="modal-content-tab-signUp-input"
                    type="text"
                    placeholder="מספר ת.ז"
                  />
                  <img
                    class="modal-content-tab-signUp-input__icon"
                    src="./img/modal-window/form/id.svg"
                    alt=""
                    width="24"
                  />
                </div>

                <div class="modal-content-tab-signUp-input-wrapper">
                  <input
                    class="modal-content-tab-signUp-input"
                    type="text"
                    placeholder=" מספר טלפון נייד"
                    width="20"
                  />
                  <img
                    class="modal-content-tab-signUp-input__icon"
                    src="./img/modal-window/form/phone.svg"
                    alt=""
                  />
                </div>
                <div class="modal-content-tab-signUp-accept-wrapper">
                  <button class="modal-content-tab-signUp__accept">
                    קבלת קוד חד פעמי
                  </button>
                </div>
                <p class="modal-content-tab-form-signup__msg">
                  לא רשום
                  <a class="modal-content-tab-form-signup__msg-link" href="#"
                    >? הרשם כאן</a
                  >
                </p>
              </div>
              <div
                class="modal-content-tab-inner-tab-content-pass modal-content-tab-inner-tab-content"
              >
                <div class="modal-content-tab-signUp-input-wrapper">
                  <input
                    class="modal-content-tab-signUp-input"
                    type="text"
                    placeholder=" שם משתמש"
                    width="20"
                  />
                  <img
                    class="modal-content-tab-signUp-input__icon"
                    src="./img/modal-window/form/name.svg"
                    alt=""
                    style="transform: translateY(-2px)"
                  />
                </div>
                <div class="modal-content-tab-signUp-input-wrapper">
                  <input
                    class="modal-content-tab-signUp-input"
                    type="text"
                    placeholder="סיסמה (מספר ת.ז)"
                  />
                  <img
                    class="modal-content-tab-signUp-input__icon"
                    src="./img/modal-window/form/id.svg"
                    alt=""
                    width="24"
                  />
                </div>
                <div class="modal-content-tab-signUp-pass-stay">
                  <a
                    class="modal-content-tab-signUp-pass-stay__forgot-pass"
                    href="#"
                    >שכחתי סיסמא
                  </a>
                  <div class="modal-content-tab-signUp-pass-stay-wrapper">
                    <label
                      class="modal-content-tab-signUp-pass-stay__checkbox-label"
                      for="stay-in-system"
                      >הישאר מחובר</label
                    >
                    <input
                      class="modal-content-tab-signUp-pass-stay__checkbox"
                      type="checkbox"
                    />
                  </div>
                </div>
                <div class="modal-content-tab-signUp-accept-wrapper">
                  <button class="modal-content-tab-signUp__accept">
                    כניסה
                  </button>
                </div>
                <p class="modal-content-tab-form-signup__msg">
                  לא רשום
                  <a class="modal-content-tab-form-signup__msg-link" href="#"
                    >? הרשם כאן</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
