<div class="register-form">
  <div class="register-form-info">
    <div class="register-form-card">
      <h3 class="register-form__title">עד היום לקוחות סמארט זכו ב:</h3>
      <h3 class="register-form__price">₪165,628,026</h3>
      <div class="register-form-fields">
        <input
          placeholder="שם מלא"
          class="register-form-fields__input"
          type="text"
        />
        <input
          placeholder="שם מלא"
          class="register-form-fields__input"
          type="text"
        />
        <h3 class="register-form-fields__birthday">תאריך לידה:</h3>
        <div class="register-form-mb">
          <div class="register-form-selects">
            <select class="register-form-select" name="year">
              <option value="-1">שנה</option>
              <option value="2001">2001</option>
              <option value="2002">2002</option>
              <option value="2003">2003</option>
              <option value="2004">2004</option>
              <option value="2005">2005</option>
              <option value="2006">2006</option>
              <option value="2007">2007</option>
              <option value="2008">2008</option>
              <option value="2009">2009</option>
              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
            </select>
            <select class="register-form-select" name="month">
              <option value="-1">חודש</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <select class="register-form-select" name="day">
              <option value="-1">יום</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
          </div>
          <div class="register-form-accept">
            <button class="register-form-accept__button-submit">
              לקבלת שיחה מנציג
            </button>
            <p class="register-form-accept-login">
              לקוחות סמארט?
              <a class="register-form-accept-login__link" href="#"
                >הכניסה מכאן
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
