<div class="wrapper">
  <div class="winners-realtime-wrapper">
    <div class="container">
      <div class="winners-realtime">
        <div class="winners-realtime-filters-list">
          <div class="winners-realtime-filters-list-row">
            <div class="winners-realtime-filters-list-row-wrapper">
              <label
                class="winners-realtime-filters-list-row__label"
                for="programs-country"
                >מדינה:</label
              >
              <select
                name="programs-country"
                id="programs-country"
                class="winners-realtime-filters-list-row-select"
              >
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="0"
                  selected
                  disabled
                  hidden
                >
                  בחר מדינה
                </option>
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="2"
                >
                  2
                </option>
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="3"
                >
                  3
                </option>
              </select>
            </div>
            <div class="winners-realtime-filters-list-row-wrapper">
              <label
                class="winnerss-realtime-filters-list-row__label"
                for="programs-country"
                >מדינה:</label
              >
              <select
                name="programs-country"
                id="programs-country"
                class="winners-realtime-filters-list-row-select"
              >
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="0"
                  selected
                  disabled
                  hidden
                >
                  בחר מדינה
                </option>
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="2"
                >
                  2
                </option>
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="3"
                >
                  3
                </option>
              </select>
            </div>
            <div class="winners-realtime-filters-list-row-wrapper">
              <label
                class="winners-realtime-filters-list-row__label"
                for="programs-country"
                >מדינה:</label
              >
              <select
                name="programs-country"
                id="programs-country"
                class="winners-realtime-filters-list-row-select"
              >
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="0"
                  selected
                  disabled
                  hidden
                >
                  בחר מדינה
                </option>
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="2"
                >
                  2
                </option>
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="3"
                >
                  3
                </option>
              </select>
            </div>
            <div class="winners-realtime-filters-list-row-wrapper">
              <label
                class="winners-realtime-filters-list-row__label"
                for="programs-country"
                >מדינה:</label
              >
              <select
                name="programs-country"
                id="programs-country"
                class="winners-realtime-filters-list-row-select"
              >
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="0"
                  selected
                  disabled
                  hidden
                >
                  בחר מדינה
                </option>
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="2"
                >
                  2
                </option>
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="3"
                >
                  3
                </option>
              </select>
            </div>
            <div class="winners-realtime-filters-list-row-wrapper">
              <label
                class="winners-realtime-filters-list-row__label"
                for="programs-country"
                >מדינה:</label
              >
              <button
                class="winners-realtime-filters-list-row__reset"
                name="restart-filter"
                id="restart-filter"
              >
                אפס סינון
              </button>
            </div>
            <div class="winners-realtime-filters-list-row-wrapper">
              <label
                class="winners-realtime-filters-list-row__label"
                for="programs-country"
                >מדינה:</label
              >
              <select
                name="programs-country"
                id="programs-country"
                class="winners-realtime-filters-list-row-select"
              >
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="0"
                  selected
                  disabled
                  hidden
                >
                  בחר מדינה
                </option>
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="2"
                >
                  2
                </option>
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="3"
                >
                  3
                </option>
              </select>
            </div>
            <div class="winners-realtime-filters-list-row-wrapper">
              <label
                class="winners-realtime-filters-list-row__label"
                for="programs-country"
                >מדינה:</label
              >
              <select
                name="programs-country"
                id="programs-country"
                class="winners-realtime-filters-list-row-select"
              >
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="0"
                  selected
                  disabled
                  hidden
                >
                  בחר מדינה
                </option>
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="2"
                >
                  2
                </option>
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="3"
                >
                  3
                </option>
              </select>
            </div>
            <div class="winners-realtime-filters-list-row-wrapper">
              <label
                class="winners-realtime-filters-list-row__label"
                for="programs-country"
                >מדינה:</label
              >
              <select
                name="programs-country"
                id="programs-country"
                class="winners-realtime-filters-list-row-select"
              >
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="0"
                  selected
                  disabled
                  hidden
                >
                  בחר מדינה
                </option>
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="2"
                >
                  2
                </option>
                <option
                  class="winners-realtime-filters-list-row-select__option"
                  value="3"
                >
                  3
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="winners-realtime-filters-mobile-columns">
          <div class="winners-realtime-filters-mobile-column">
            <div class="winners-realtime-filters-mobile-column-item">
              <label
                class="winners-realtime-filters-mobile-column-item__label"
                for="programs-status-game"
                >סטאטוס משחק:</label
              >
              <select
                class="winners-realtime-filters-mobile-column-select"
                name="programs-status-game"
                id=""
              >
                <option value="0" selected="" disabled="" hidden="">
                  בחר סטאטוס משחק
                </option>
                <option value="בוטל">בוטל</option>
                <option value="הסתיים">הסתיים</option>
                <option value="מחצית">מחצית</option>
                <option value="משוחק">משוחק</option>
                <option value="סגור">סגור</option>
                <option value="רבע 4">רבע 4</option>
              </select>
            </div>
            <div class="winners-realtime-filters-mobile-column-item">
              <label
                class="winners-realtime-filters-mobile-column-item__label"
                for="programs-status-game"
                >סטאטוס משחק:</label
              >
              <select
                class="winners-realtime-filters-mobile-column-select"
                name="programs-status-game"
                id=""
              >
                <option value="0" selected="" disabled="" hidden="">
                  בחר סטאטוס משחק
                </option>
                <option value="בוטל">בוטל</option>
                <option value="הסתיים">הסתיים</option>
                <option value="מחצית">מחצית</option>
                <option value="משוחק">משוחק</option>
                <option value="סגור">סגור</option>
                <option value="רבע 4">רבע 4</option>
              </select>
            </div>
            <div class="winners-realtime-filters-mobile-column-item">
              <label
                class="winners-realtime-filters-mobile-column-item__label"
                for="programs-status-game"
                >סטאטוס משחק:</label
              >
              <select
                class="winners-realtime-filters-mobile-column-select"
                name="programs-status-game"
                id=""
              >
                <option value="0" selected="" disabled="" hidden="">
                  בחר סטאטוס משחק
                </option>
                <option value="בוטל">בוטל</option>
                <option value="הסתיים">הסתיים</option>
                <option value="מחצית">מחצית</option>
                <option value="משוחק">משוחק</option>
                <option value="סגור">סגור</option>
                <option value="רבע 4">רבע 4</option>
              </select>
            </div>
            <div class="winners-realtime-filters-mobile-column-item">
              <div class="winners-realtime-filters-mobile-column-item">
                <label
                  class="winners-realtime-filters-mobile-column-item__label"
                  for="programs-status-game"
                  >סטאטוס משחק:</label
                >
                <button
                  name="restart-filter"
                  class="winners-realtime-filters-mobile-column-item__restart-btn"
                >
                  אפס סינון
                </button>
              </div>
            </div>
          </div>
          <div class="winners-realtime-filters-mobile-column">
            <div class="winners-realtime-filters-mobile-column-item">
              <label
                class="winners-realtime-filters-mobile-column-item__label"
                for="programs-status-game"
                >סטאטוס משחק:</label
              >
              <input
                class="winners-realtime-filters-mobile-column__datePicker"
                type="date"
                value="2023-02-27"
                name="programs-date"
                class="program-select"
                id="programs-date"
                min="2022-04-20"
                max="2023-02-27"
              />
            </div>
            <div class="winners-realtime-filters-mobile-column-item">
              <label
                class="winners-realtime-filters-mobile-column-item__label"
                for="programs-status-game"
                >סטאטוס משחק:</label
              >
              <select
                class="winners-realtime-filters-mobile-column-select"
                name="programs-status-game"
                id=""
              >
                <option value="0" selected="" disabled="" hidden="">
                  בחר סטאטוס משחק
                </option>
                <option value="בוטל">בוטל</option>
                <option value="הסתיים">הסתיים</option>
                <option value="מחצית">מחצית</option>
                <option value="משוחק">משוחק</option>
                <option value="סגור">סגור</option>
                <option value="רבע 4">רבע 4</option>
              </select>
            </div>
            <div class="winners-realtime-filters-mobile-column-item">
              <label
                class="winners-realtime-filters-mobile-column-item__label"
                for="programs-status-game"
                >סטאטוס משחק:</label
              >
              <select
                class="winners-realtime-filters-mobile-column-select"
                name="programs-status-game"
                id=""
              >
                <option value="0" selected="" disabled="" hidden="">
                  בחר סטאטוס משחק
                </option>
                <option value="בוטל">בוטל</option>
                <option value="הסתיים">הסתיים</option>
                <option value="מחצית">מחצית</option>
                <option value="משוחק">משוחק</option>
                <option value="סגור">סגור</option>
                <option value="רבע 4">רבע 4</option>
              </select>
            </div>
            <div class="winners-realtime-filters-mobile-column-item">
              <label
                class="winners-realtime-filters-mobile-column-item__label"
                for="programs-status-game"
                >סטאטוס משחק:</label
              >
              <select
                class="winners-realtime-filters-mobile-column-select"
                name="programs-status-game"
                id=""
              >
                <option value="0" selected="" disabled="" hidden="">
                  בחר סטאטוס משחק
                </option>
                <option value="בוטל">בוטל</option>
                <option value="הסתיים">הסתיים</option>
                <option value="מחצית">מחצית</option>
                <option value="משוחק">משוחק</option>
                <option value="סגור">סגור</option>
                <option value="רבע 4">רבע 4</option>
              </select>
            </div>
          </div>
        </div>
        <div class="winners-realtime-table-wrapper">
          <table class="winners-realtime-table">
            <thead class="winners-realtime-head">
              <tr class="winners-realtime-head-row">
                <td class="winners-realtime-head-row__cell">
                  כדורגל - ארגנטינה - ארגנטינאית ראשונה
                  <img src="./img/winner-in-realtime/flag.png" alt="" />
                </td>
              </tr>
            </thead>
            <tbody class="winners-realtime-body">
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <table class="winners-realtime-table">
            <thead class="winners-realtime-head">
              <tr class="winners-realtime-head-row">
                <td class="winners-realtime-head-row__cell">
                  כדורגל - ארגנטינה - ארגנטינאית ראשונה
                  <img src="./img/winner-in-realtime/flag.png" alt="" />
                </td>
              </tr>
            </thead>
            <tbody class="winners-realtime-body">
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <table class="winners-realtime-table">
            <thead class="winners-realtime-head">
              <tr class="winners-realtime-head-row">
                <td class="winners-realtime-head-row__cell">
                  כדורגל - ארגנטינה - ארגנטינאית ראשונה
                  <img src="./img/winner-in-realtime/flag.png" alt="" />
                </td>
              </tr>
            </thead>
            <tbody class="winners-realtime-body">
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <table class="winners-realtime-table">
            <thead class="winners-realtime-head">
              <tr class="winners-realtime-head-row">
                <td class="winners-realtime-head-row__cell">
                  כדורגל - ארגנטינה - ארגנטינאית ראשונה
                  <img src="./img/winner-in-realtime/flag.png" alt="" />
                </td>
              </tr>
            </thead>
            <tbody class="winners-realtime-body">
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <table class="winners-realtime-table">
            <thead class="winners-realtime-head">
              <tr class="winners-realtime-head-row">
                <td class="winners-realtime-head-row__cell">
                  כדורגל - ארגנטינה - ארגנטינאית ראשונה
                  <img src="./img/winner-in-realtime/flag.png" alt="" />
                </td>
              </tr>
            </thead>
            <tbody class="winners-realtime-body">
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
              <tr class="winners-realtime-body-row">
                <td
                  style="max-width: 140px"
                  class="winners-realtime-body-row-cell"
                ></td>
                <td class="winners-realtime-body-row-cell">1 - 1</td>
                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-body-row-cell">
                  <span class="winners-realtime-body-row-cell__number green"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 80px"
                  class="winners-realtime-body-row-cell"
                >
                  <span class="winners-realtime-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td
                  style="max-width: 40px; padding-left: 10px"
                  class="winners-realtime-body-row-cell"
                >
                  S,D
                </td>
                <td style="width: 200px" class="winners-realtime-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="max-width: 100px"
                  class="winners-realtime-body-row-cell"
                >
                  הסתיים
                </td>
                <td
                  style="max-width: 50px; text-align: right"
                  class="winners-realtime-body-row-cell"
                >
                  345
                  <img
                    class="winners-realtime-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="winners-realtime-table-mobile-wrapper">
          <table class="winners-realtime-mobile-table">
            <thead class="winners-realtime-mobile-table-head">
              <tr class="winners-realtime-mobile-table-head-row">
                <td class="winners-realtime-mobile-table-head-row__cell">
                  כדורגל - ברזיל - גביע ברזילאי
                  <img src="./img/winner-in-realtime/flag.png" alt="" />
                </td>
              </tr>
            </thead>
            <tbody class="winners-realtime-mobile-table-body">
              <tr class="winners-realtime-mobile-table-body-row">
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number-green"
                    >7.40</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">S,D</td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  class="winners-realtime-mobile-table-body-row-cell winners-realtime-mobile-table-body-row-cell-star-wrapper"
                >
                  <span>345</span>
                  <img
                    class="winners-realtime-mobile-table-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  הסתיים
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
              </tr>
              <tr class="winners-realtime-mobile-table-body-row">
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number-green"
                    >7.40</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">S,D</td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="white-space: nowrap"
                  class="winners-realtime-mobile-table-body-row-cell winners-realtime-mobile-table-body-row-cell-star-wrapper"
                >
                  <span>345</span>
                  <img
                    class="winners-realtime-mobile-table-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  הסתיים
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
              </tr>
              <tr class="winners-realtime-mobile-table-body-row">
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number-green"
                    >7.40</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">S,D</td>

                <td class="winners-realtime-mobile-table-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  class="winners-realtime-mobile-table-body-row-cell winners-realtime-mobile-table-body-row-cell-star-wrapper"
                >
                  <span>345</span>
                  <img
                    class="winners-realtime-mobile-table-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  הסתיים
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <table class="winners-realtime-mobile-table">
            <thead class="winners-realtime-mobile-table-head">
              <tr class="winners-realtime-mobile-table-head-row">
                <td class="winners-realtime-mobile-table-head-row__cell">
                  כדורגל - ברזיל - גביע ברזילאי
                  <img src="./img/winner-in-realtime/flag.png" alt="" />
                </td>
              </tr>
            </thead>
            <tbody class="winners-realtime-mobile-table-body">
              <tr class="winners-realtime-mobile-table-body-row">
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number-green"
                    >7.40</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">S,D</td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  class="winners-realtime-mobile-table-body-row-cell winners-realtime-mobile-table-body-row-cell-star-wrapper"
                >
                  <span>345</span>
                  <img
                    class="winners-realtime-mobile-table-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  הסתיים
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
              </tr>
              <tr class="winners-realtime-mobile-table-body-row">
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number-green"
                    >7.40</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">S,D</td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="white-space: nowrap"
                  class="winners-realtime-mobile-table-body-row-cell winners-realtime-mobile-table-body-row-cell-star-wrapper"
                >
                  <span>345</span>
                  <img
                    class="winners-realtime-mobile-table-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  הסתיים
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
              </tr>
              <tr class="winners-realtime-mobile-table-body-row">
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number-green"
                    >7.40</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">S,D</td>

                <td class="winners-realtime-mobile-table-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  class="winners-realtime-mobile-table-body-row-cell winners-realtime-mobile-table-body-row-cell-star-wrapper"
                >
                  <span>345</span>
                  <img
                    class="winners-realtime-mobile-table-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  הסתיים
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <table class="winners-realtime-mobile-table">
            <thead class="winners-realtime-mobile-table-head">
              <tr class="winners-realtime-mobile-table-head-row">
                <td class="winners-realtime-mobile-table-head-row__cell">
                  כדורגל - ברזיל - גביע ברזילאי
                  <img src="./img/winner-in-realtime/flag.png" alt="" />
                </td>
              </tr>
            </thead>
            <tbody class="winners-realtime-mobile-table-body">
              <tr class="winners-realtime-mobile-table-body-row">
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number-green"
                    >7.40</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">S,D</td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  class="winners-realtime-mobile-table-body-row-cell winners-realtime-mobile-table-body-row-cell-star-wrapper"
                >
                  <span>345</span>
                  <img
                    class="winners-realtime-mobile-table-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  הסתיים
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
              </tr>
              <tr class="winners-realtime-mobile-table-body-row">
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number-green"
                    >7.40</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">S,D</td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  style="white-space: nowrap"
                  class="winners-realtime-mobile-table-body-row-cell winners-realtime-mobile-table-body-row-cell-star-wrapper"
                >
                  <span>345</span>
                  <img
                    class="winners-realtime-mobile-table-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  הסתיים
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
              </tr>
              <tr class="winners-realtime-mobile-table-body-row">
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number-green"
                    >7.40</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">S,D</td>

                <td class="winners-realtime-mobile-table-body-row-cell">
                  אתלטיקו פלטנסה - טוקומן
                </td>
                <td
                  class="winners-realtime-mobile-table-body-row-cell winners-realtime-mobile-table-body-row-cell-star-wrapper"
                >
                  <span>345</span>
                  <img
                    class="winners-realtime-mobile-table-body-row-cell__star"
                    src="./img/winner-in-realtime/star.webp"
                    width="18"
                    alt="star"
                  />
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  הסתיים
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>

                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
                <td class="winners-realtime-mobile-table-body-row-cell">
                  <span
                    class="winners-realtime-mobile-table-body-row-cell__number"
                    >2.55</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h3 class="winners-realtime-login-msg">
          לקוחות סמארט?
          <a href="#" class="winners-realtime-login-msg__link"
            >כנסו לראות את התוצאות שלכם</a
          >
        </h3>
      </div>
    </div>
  </div>
</div>
