<section class="wrapper winner-slider-wrapper">
  <div class="container">
    <div class="winners">
      <h1 class="winners__section-title">ברכות לזוכי Smart!</h1>
      <p class="winners__section-description">
        הכירו את המשתתפים שהרוויחו מהטכנולוגיה של Smart
      </p>

      <div class="video-popup">
        <span class="video-popup__close-icon">&times;</span>
        <iframe class="video-player" src="" frameborder="0"></iframe>
      </div>
      <div class="swiper winners-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="winners-cards">
              <div class="winners-card">
                <div
                  class="winners-card-image-wrapper winners-card-image-wrapper-circle-green"
                >
                  <img
                    class="winners-card__image"
                    src="./img/winners-slider/winner-1.webp"
                    alt=""
                  />
                </div>
                <div class="winners-card-info">
                  <p class="winners-card__text">לאוניד מחיפה</p>
                  <h5 class="winners-card__prize">ש"ח 400</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="winners-cards">
              <div class="winners-card">
                <div
                  class="winners-card-image-wrapper winners-card-image-wrapper-circle-pink"
                >
                  <div class="winners-card-play-btn winners-card-play-btn-pink">
                    <img
                      class="winners-card-play-btn__icon-video video-btn"
                      width="25"
                      data-video-url="https://www.youtube.com/embed/qIYNEocOpt8"
                      src="./img/winners-slider/play-video-ico.png"
                      alt=""
                    />
                  </div>
                  <img
                    class="winners-card__image"
                    src="./img/winners-slider/winner-2.webp"
                    alt=""
                  />
                </div>
                <div class="winners-card-info">
                  <p class="winners-card__text">לאוניד מחיפה</p>
                  <h5 class="winners-card__prize">ש"ח 400</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="winners-cards">
              <div class="winners-card">
                <div
                  class="winners-card-image-wrapper winners-card-image-wrapper-circle-blue"
                >
                  <div class="winners-card-play-btn winners-card-play-btn-blue">
                    <img
                      width="30"
                      class="winners-card-play-btn__icon-speaker"
                      src="./img/winners-slider/speaker-ico.png"
                      alt=""
                    />
                  </div>
                  <img
                    class="winners-card__image"
                    src="./img/winners-slider/winner-4.webp"
                    alt=""
                  />
                </div>
                <div class="winners-card-info">
                  <p class="winners-card__text">לאוניד מחיפה</p>
                  <h5 class="winners-card__prize">ש"ח 400</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="winners-cards">
              <div class="winners-card">
                <div
                  class="winners-card-image-wrapper winners-card-image-wrapper-circle-yellow"
                >
                  <img
                    class="winners-card__image"
                    src="./img/winners-slider/winner-5.webp"
                    alt=""
                  />
                </div>
                <div class="winners-card-info">
                  <p class="winners-card__text">לאוניד מחיפה</p>
                  <h5 class="winners-card__prize">ש"ח 400</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="winners-cards">
              <div class="winners-card">
                <div
                  class="winners-card-image-wrapper winners-card-image-wrapper-circle-green"
                >
                  <img
                    class="winners-card__image"
                    src="./img/winners-slider/winner-1.webp"
                    alt=""
                  />
                </div>
                <div class="winners-card-info">
                  <p class="winners-card__text">לאוניד מחיפה</p>
                  <h5 class="winners-card__prize">ש"ח 400</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="winners-cards">
              <div class="winners-card">
                <div
                  class="winners-card-image-wrapper winners-card-image-wrapper-circle-yellow"
                >
                  <img
                    class="winners-card__image"
                    src="./img/winners-slider/winner-2.webp"
                    alt=""
                  />
                </div>
                <div class="winners-card-info">
                  <p class="winners-card__text">לאוניד מחיפה</p>
                  <h5 class="winners-card__prize">ש"ח 400</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="winners-cards">
              <div class="winners-card">
                <div
                  class="winners-card-image-wrapper winners-card-image-wrapper-circle-yellow"
                >
                  <img
                    class="winners-card__image"
                    src="./img/winners-slider/winner-3.webp"
                    alt=""
                  />
                </div>
                <div class="winners-card-info">
                  <p class="winners-card__text">לאוניד מחיפה</p>
                  <h5 class="winners-card__prize">ש"ח 400</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="winners-cards">
              <div class="winners-card">
                <div
                  class="winners-card-image-wrapper winners-card-image-wrapper-circle-yellow"
                >
                  <img
                    class="winners-card__image"
                    src="./img/winners-slider/winner-4.webp"
                    alt=""
                  />
                </div>
                <div class="winners-card-info">
                  <p class="winners-card__text">לאוניד מחיפה</p>
                  <h5 class="winners-card__prize">ש"ח 400</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="winners-cards">
              <div class="winners-card">
                <div
                  class="winners-card-image-wrapper winners-card-image-wrapper-circle-yellow"
                >
                  <img
                    class="winners-card__image"
                    src="./img/winners-slider/winner-5.webp"
                    alt=""
                  />
                </div>
                <div class="winners-card-info">
                  <p class="winners-card__text">לאוניד מחיפה</p>
                  <h5 class="winners-card__prize">ש"ח 400</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="winners-cards">
              <div class="winners-card">
                <div
                  class="winners-card-image-wrapper winners-card-image-wrapper-circle-yellow"
                >
                  <img
                    class="winners-card__image"
                    src="./img/winners-slider/winner-1.webp"
                    alt=""
                  />
                </div>
                <div class="winners-card-info">
                  <p class="winners-card__text">לאוניד מחיפה</p>
                  <h5 class="winners-card__prize">ש"ח 400</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
