.modal {
  visibility: hidden;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 2s ease-in-out;
  padding: 10px;
}

.modal.show {
  visibility: visible;
  transform: translateY(0%);
}

.modal.show .modal-content {
  transform: translateY(0%);
  left: 50%;
  opacity: 1;
}

.modal-content {
  margin: 10% auto;
  width: 100%;
  padding: 15px;
  max-width: 870px;
  min-height: 530px;
  transform: translateY(-30%);
  opacity: 0;
  transition: all 0.5s;
  background-color: #202020;
  border: 1px solid #51b0db;
  border-radius: 0.3rem;
}
.modal-content-tab-signUp-accept-wrapper {
  text-align: center;
}
.modal-content-tab-signUp__accept {
  margin-top: 10px;
  background: #a1c831;
  border: 1px solid #a1c831;
  transition: background 0.3s;
  font-size: 20px;
  font-weight: 700;
  max-width: 220px;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  color: #fff;
}
.modal-content-tab-signUp__accept:hover {
  background-color: transparent;
}
.modal-content.hide {
  margin: 0;
}
.modal-content-body {
  padding: 35px 60px 30px;
}
.modal-content-buttons {
  display: flex;
  gap: 20px;
}
.modal-content__btn {
  border: 2px solid #fff;
  background: 0 0;
  border-radius: 4px;
  margin: 0 auto;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  height: 45px;
}
.modal-content__btn--active {
  background-color: #51b0db;
  border-color: #51b0db;
}
.modal-content-tab-signIn {
  display: none;
}
.modal-content-tab-signUp-info {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}
.modal-content-tab-signUp-info__checkbox {
  margin-left: 10px;
  width: 18px;
  height: 18px;
}
.modal-content-tab-signUp-info-agreement {
  margin-top: 10px;
}
.modal-content-tab-signUp-info-rules-label {
  color: #fff;
}
.modal-content-tab-signUp-info-rules-label__link {
  color: #51b0db;
}
.modal-content-tab-signUp-info-rules-label__highlighted {
  color: #51b0db;
}
.modal-content-tab-signUp-label {
  display: block;
  color: #fff;
  text-align: right;
  font-size: 16px;
  margin-bottom: 5px;
}
.modal-content-tab-signUp-selects {
  min-width: 230px;
  text-align: center;
}
.modal-content-tab-signUp-column {
  max-width: 350px;
  min-width: 230px;
}
.modal-content-tab-signIn-column {
  min-width: 230px;
  text-align: center;
  margin: 0px auto;
}
.modal-content-tab-signUp-select {
  padding: 10px 33px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  direction: rtl;
  margin-bottom: 15px;
  border-radius: 3px;
  outline: none;
}
.modal-content-tab-signUp-input-wrapper {
  position: relative;
}
.modal-content-tab-signUp-input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.25rem;
  margin-bottom: 15px;
  text-align: right;
}
.modal-content-tab-signUp-input::-moz-placeholder {
  color: black;
  font-size: 16px;
}
.modal-content-tab-signUp-input::placeholder {
  color: black;
  font-size: 16px;
}
.modal-content-tab-signUp-input__icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.modal-content-tab-signUp-columns {
  margin-top: 40px;
  gap: 20px;
  display: flex;
}
.modal-content-tab-signUp-inputs {
  gap: 5px;
  margin-top: 20px;
  display: flex;
}
.modal-content-tab-inner-tab-content {
  padding-top: 30px;
  max-width: 400px;
  margin: 0px auto;
}
.modal-content-tab-form-signup__msg {
  font-size: 16px;
  color: #fff;
  margin-top: 30px;
}
.modal-content-tab-form-signup__msg-link {
  font-weight: 700;
  color: #a1c831;
}
.modal-content-tab-inner-tabs__btn {
  background: none;
  font-size: 16px;
  color: #fff;
  border-bottom: 2px solid #686a6b;
  padding: 5px 20px;
  position: relative;
  transition: all 0.3s;
  width: 100%;
}
.modal-content-tab-inner-tabs__btn--active {
  color: #51b0db;
  border-color: #51b0db;
}
.modal-content-tab-inner-tabs__btn--active::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  border: 12px solid transparent;
  border-top: 12px solid #51b0db;
}
.modal-content-tab-inner-tabs__btn:hover {
  color: #51b0db;
  border-color: #51b0db;
}
.modal-content-tab-inner-tabs__btn:hover::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100%;
  border: 12px solid transparent;
  border-top: 12px solid #51b0db;
}
.modal-content-tab-inner-tabs-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 450px;
  margin: 20px auto;
}
.modal-content-tab-inner-tabs {
  color: #fff;
}
.modal-content-tab-inner-tab-content-code {
  display: none;
}
.modal-content-tab-signUp-pass-stay {
  display: flex;
  justify-content: space-between;
}
.modal-content-tab-signUp-pass-stay-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.modal-content-tab-signUp-pass-stay__forgot-pass {
  color: #a1c831;
  font-size: 18px;
}
.modal-content-tab-signUp-pass-stay__checkbox-label {
  font-size: 18px;
}
.modal-content-tab-signUp-pass-stay__checkbox {
  width: 18px;
  height: 18px;
}

.close {
  color: #aaaaaa;
  text-align: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 920px) {
  .modal-content-body {
    padding: 35px 20px 30px;
  }
  .modal-content-tab-signUp {
    margin-top: 30px;
  }
  .modal-content-tab-signUp-columns {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 370px) {
  .modal-content-tab-inner-tabs-btns {
    display: block;
  }
}