@import "reset.module";
@import "fonts.module";
@import "./components/modal-window.module.scss";
@import "./components/content-button.module.scss";
@import "./components/dropdown-link.module.scss";
@import "./components/titles.module.scss";
@import "./components/register-form.module.scss";
@import "./components/header.module.scss";
@import "./components/about.module.scss";
@import "./components/video-popup.module.scss";
@import "./components/winners-slider.module.scss";
@import "./components/join-us-form.module.scss";
@import "./components/join-us-form-more-buttons.module.scss";
@import "./components/winners-realtime-table.module.scss";
@import "./components/footer-mobile-accordions.module.scss";
@import "./components/footer.module.scss";

html {
  height: 100%;

}

body {
  font-family: "Heebo", sans-serif;
}

.body-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

.main {
  flex-grow: 1;
}

.wrapper {
  max-width: 1900px;
  margin: 0px auto;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
}

.swiper-pagination-bullet-active {
  background-color: #9bb061 !important;
}

@media(max-width: 420px) {
  .swiper-pagination-bullet-active {
    background-color: #ab2a32 !important;
  }

  .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
  }
}